* {
	font-family: 'normal';
}
html,
body {
	overflow-x: hidden;
	background: var(--bg2) !important;
}

.page {
	background: var(--page);
	padding: 30px;
	width: 100%;
	padding-top: 190px;
}

.page-content {
	background: var(--pageContent) 0% 0% no-repeat padding-box;
	border-radius: 16px;
	min-height: 76.4vh;
	padding: 20px 30px;
	width: 100%;
}

::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px white;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: #bfc8d5;
	border-radius: 30px;
}

.aic {
	align-items: center;
}

.jcc {
	justify-content: center;
}

.bold {
	font-family: bold;
}

.hiddem {
	display: none;
}

thead tr:first-child th {
	position: sticky;
	top: -20px;
	background: var(--table);
	transition: 0.5s ease-in;
}
table thead th {
	border: none !important;
	border-bottom: 1px solid var(--border2) !important;
	font-family: bold !important;
	font-size: 1rem !important;
	color: var(--thColor) !important;
}

tbody {
	color: var(--trColor);
	font-size: 14px;
}

.table td {
	border-top: 0px transparent !important;
}

.underlined {
	color: var(--color1);
	text-decoration: underline;
	cursor: pointer;
}

label {
	margin: 9px 0;
	color: var(--color2);
	letter-spacing: 0.03px;
	font-size: 16px;
}

.form-control {
	margin-bottom: 20px;
	color: var(--color1) !important;
	padding-left: 12px;
	font-family: bold;
	height: 40px !important;
	background-color: var(--bg);
	border: 2px solid var(--border1);
}

::placeholder {
	color: var(--color2);
	font-family: normal !important;
}

option[value=''][disabled] {
	color: var(--color2);
	font-family: normal !important;
}

input[type='search']::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: 1rem;
	width: 1rem;
	background: url('../../assets/app/x-circle.svg') no-repeat 50% 50%;
	background-size: contain;
	cursor: pointer;
}

SELECT {
	background: url('../../assets/app/dropdown-icon.svg') no-repeat !important;
	background-position: calc(100% - 0.75rem) center !important;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	appearance: none !important;
	padding-right: 2rem !important;
}

::-webkit-calendar-picker-indicator {
	background-image: url('../../assets/app/calendar-icon.svg');
	cursor: pointer;
	margin-left: 0.5rem;
}

.form-control:focus {
	box-shadow: 0 0 0 0.2rem #00b0759c,
		rgba(93, 185, 105, 0.563) 0px 3px 15px 0px;
	border: none !important;
	background: var(--bg1);
}

.modal-header {
	border: none !important;
	align-items: center;
}

.separator {
	width: 100%;
	height: 1px;
	border: 1px solid var(--border);
	margin: 29px 0;
}

.touchable {
	&:hover {
		transform: scale(1.03) !important;
		transition: 0.2s;
		border-radius: 30px !important;
		box-shadow: none !important;
	}
	&:active {
		opacity: 0.5;
		transform: scale(1) !important;
	}
}

textarea {
	height: 150px !important;
}

.card {
	padding: 33px;
	border-radius: 15px;
	background: var(--bg1);
	border: none;
	box-shadow: var(--dropShadow);
	background: var(--bg3);
}

.modal-title {
	font-size: 1.6rem;
	font-family: bold;
	color: var(--color1);
}

.btn-disabled {
	background: var(--disabled) !important;
	box-shadow: none !important;
}

.btn-add {
	background-color: var(--accent);
	box-shadow: rgba(0, 176, 116, 0.3) 0px 4px 16px,
		rgba(0, 176, 116, 0.05) 0px 8px 32px;
	border-radius: 12px;
	color: white !important;
	padding: 0.5rem 2rem;
	border: none;
}

.btn-cancel {
	border-radius: 10px;
	border: 2px solid var(--disabled);
	background-color: var(--bg1);
	color: var(--disabled) !important;
	display: flex;
	align-items: center;
	padding: 0.5 2rem;
	&:hover {
		color: var(--accent) !important;
		border: 2px solid var(--accent) !important;
	}
}

.btn-secondary {
	border-radius: 10px;
	background-color: #dbf4eb;
	color: var(--accent);
	padding: 0.5rem 2rem;

	&:hover {
		color: var(--accent) !important;
		border: 2px solid var(--accent) !important;
	}
}

.is-invalid {
	border: 1px solid rgba(255, 0, 0, 0.205);
	box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.171);
	background: var(--bg);
}

.invalid-feedback {
	margin-top: -0.8rem;
}

.swal2-container.swal2-bottom,
.swal2-container.swal2-center,
.swal2-container.swal2-top {
	position: absolute;
	z-index: 9999999999999999999999999999999999999999999999;
	background: var(--modalBackdrop) !important;
}

#swal2-title {
	font-family: bold !important;
}

#swal2-html-container,
.swal2-actions {
	font-family: normal !important;
}

.swal2-styled.swal2-confirm {
	background: var(--accent) !important;
}

.swal2-styled.swal2-confirm:focus {
	box-shadow: 0 0 0 3px #00b07588;
}

.swal2-cancel {
	background: var(--bg) !important;
	color: black !important;
	border: 2px solid var(--border1) !important;
}

.placeholder-title {
	color: var(--color2);
}
