.input-container {
	margin-left: 68px;
	height: 40px;
	background: var(--searchInput) 0% 0% no-repeat padding-box;
	width: 100%;
	display: flex;
	margin-top: -10px;
	align-items: center;
	border-radius: 4px;
	border: 2px solid var(--border);
	input {
		border: none;
		outline: none;
		padding: 8px 16px;
		color: #6f7d8f;
		size: 16px;
		width: 100%;
		background: transparent;
	}
	.search {
		width: 18px;
		height: 18px;
		margin-right: 18px;
	}
}

.dropdown-container {
	margin-top: -1.5rem;
	width: 100%;
	border: 1px solid var(--border1);
	max-height: 40vh;
	overflow-y: auto;
	box-shadow: var(--dropShadow);
}

.doctors {
	display: flex;
	width: 100%;
	align-items: center;
	border-bottom: 1px solid var(--border1);
	padding: 0.8rem 1rem;
	border-left: 4px solid transparent;
	&:hover {
		background: var(--page1);
		border-left: 4px solid var(--accent);
		.doctor,
		.feather {
			color: var(--accent);
		}
	}
	.avatar {
		margin-right: 1rem;
		img {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			object-fit: contain;
		}
	}
	.text {
		display: flex;
		flex-direction: column;
		.doctor {
			font-size: 0.8rem;
			color: var(--color1);
		}
		.position {
			font-size: 0.7rem;
			color: var(--color2);
		}
	}
	.feather {
		margin-left: auto;
	}
}
