.login-nav {
	display: flex;
	align-items: center;
}
.logo {
	height: 76px;
	object-fit: contain;
	padding: 10px 10vw;
	cursor: pointer;
}
.aside {
	display: flex;
	margin-left: auto;
	margin-right: 10vw;
	align-items: center;
	ul {
		display: flex;
		align-items: center;
		margin-top: 20px;
		li {
			margin-left: 56px;
			list-style: none;
			color: #00b074;
			font-size: 16px;
			cursor: pointer;
		}
	}
}
