.login-nav {
	display: flex;
	align-items: center;
	background-color: var(--bg1);
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
	box-shadow: rgba(183, 207, 194, 0.2) 0px 7px 29px 0px;
}
.logo {
	height: 76px;
	object-fit: contain;
	padding: 10px 10vw;
	cursor: pointer;
	transform: scale(1.5);
}
.aside {
	display: flex;
	margin-left: auto;
	margin-right: 10vw;
	align-items: center;
	ul {
		display: flex;
		align-items: center;
		margin-top: 20px;
		li {
			list-style: none;
			color: var(--loginNavColor);
			font-size: 16px;
			padding: 5px 20px;
			margin-right: 6px;
			cursor: pointer;
			&:hover {
				background: var(--loginNavColor);
				color: white;
			}
		}
	}
}

.get-started {
	border-radius: 30px;
	padding: 10px 30px;
	color: white !important;
	cursor: pointer;
	font-weight: 900;
	background: linear-gradient(
		111.54deg,
		#295d51 -5.45%,
		#00b074 -5.45%,
		#00b074 54.6%,
		#48ab84 82.64%
	);
	transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
	&:hover {
		opacity: 0.9;
	}
	&:active {
		transform: scale(0.95);
	}
}
