.login-nav {
	display: flex;
	align-items: center;
	background-color: var(--loginNav);
}
.logo {
	height: 76px;
	object-fit: contain;
	padding: 10px 10vw;
	cursor: pointer;
}
.aside {
	display: flex;
	margin-left: auto;
	margin-right: 10vw;
	align-items: center;
	ul {
		display: flex;
		align-items: center;
		margin-top: 20px;
		li {
			list-style: none;
			color: var(--loginNavColor);
			font-size: 16px;
			padding: 5px 20px;
			margin-right: 6px;
			cursor: pointer;
			&:hover {
				background: var(--loginNavColor);
				color: white;
			}
		}
	}
}
