body {
	padding: 30px 70px;
}
.row {
	margin: 0;
}

.patient-details {
	text-align: left;
	letter-spacing: 0.03px;
	color: #6f7d8f;
	text-transform: capitalize;
	font-size: 16px;
}

textarea {
	height: 90px !important;
}
