<div class="row">
	<div class="col-md-12 patient-details">Patient Details</div>

	<div class="col-md-12">
		<label for="">First name</label>
		<input type="search" class="form-control" placeholder="John" />
	</div>

	<div class="col-md-12">
		<label for="">Last name</label>
		<input type="search" class="form-control" placeholder="Doe" />
	</div>

	<div class="col-md-6">
		<label for="">Sex</label>
		<select class="form-control">
			<option>Select</option>
		</select>
	</div>

	<div class="col-md-6">
		<label for="">Age</label>
		<input type="number" class="form-control" />
	</div>

	<div class="col-md-12">
		<label for="">Select doctor</label>
		<select class="form-control">
			<option value="" selected disabled>Select</option>
		</select>
	</div>

	<div class="col-md-6">
		<label for="">Select Date</label>
		<input type="date" class="form-control" />
	</div>

	<div class="col-md-6">
		<label for="">Select time slot</label>
		<select class="form-control">
			<option value="" selected disabled>Select</option>
		</select>
	</div>

	<div class="col-md-6">
		<label for="">Appointment Type</label>
		<select class="form-control">
			<option value="" selected disabled>Returning Patient</option>
		</select>
	</div>

	<div class="col-md-6">
		<label for="">Account Type</label>
		<select class="form-control">
			<option>Walk-in Patient</option>
		</select>
	</div>

	<div class="col-md-12">
		<label for="">Comments</label>
		<textarea placeholder="Aa" class="form-control"></textarea>
	</div>
</div>
