<div class="row">
	<div class="col-md-6">
		<div class="label">Name</div>
		<div class="description">Dr. Hanadi Yassin</div>
	</div>
	<div class="col-md-6">
		<div class="label">Department</div>
		<div class="description">Cardiology</div>
	</div>
	<div class="col-md-12">
		<div class="label working-schedule">Working Schedule</div>
		<passive-working-schedule
			[Mon]="false"
			[Tue]="true"
			[Wed]="false"
			[Thu]="true"
			[Fri]="false"
			[Sat]="true"
			[Sun]="true"
		></passive-working-schedule>

		<div class="d-flex aic mt-4 mb-5">
			<span>
				<span class="circle active"></span>
				<span class="text-available mr-2">Available</span>
			</span>

			<span>
				<span class="circle"></span>
				<span class="text-available">Not Available</span>
			</span>
		</div>
	</div>
</div>
