<div class="row jumbotron p-0 m-0 form-container" style="transition: 1s ease">
	<div class="col-md-6 pr-5">
		<div class="h1 text-left">Partner with mawedy!</div>
		<p class="text-left mt-3 text-muted">
			Get your clinic advertised, easy appointments for your valued patients, web
			solutions and many more.
		</p>
	</div>
	<div class="col-md-6" style="margin-top: 10rem">
		<div class="card">
			<form [formGroup]="informationForm" (ngSubmit)="next()">
				<div class="card-body p-2" *ngIf="signInTab === 1">
					<h2>Clinic Information</h2>

					<div class="form-group">
						<label for="name">Clinic name</label>
						<input
							id="name"
							formControlName="name"
							[class.is-invalid]="
								informationForm.get('name')?.invalid &&
								informationForm.get('name')?.touched
							"
							class="form-control"
							type="text"
							class="form-control"
						/>
						<div class="invalid-feedback">
							<div class="text=danger">Clinic name is required.</div>
							<div class="text=danger">Must have at least 3 characters.</div>
						</div>
					</div>

					<div class="form-group">
						<label for="address">Clinic address</label>
						<textarea
							id="address"
							formControlName="address"
							[class.is-invalid]="
								informationForm.get('address')?.invalid &&
								informationForm.get('address')?.touched
							"
							type="text"
							class="form-control"
						></textarea>
						<div class="invalid-feedback">
							<div class="text=danger">Clinic address is required.</div>
							<div class="text=danger">Must have at least 5 characters.</div>
						</div>
					</div>

					<div class="form-group">
						<label for="email">Clinic email</label>
						<input
							id="email"
							(input)="handleEmailChange($event)"
							formControlName="email"
							[class.is-invalid]="
								informationForm.get('email')?.invalid &&
								informationForm.get('email')?.touched
							"
							type="text"
							class="form-control"
						/>
						<div class="invalid-feedback">
							<div class="text=danger">Clinic email is required.</div>
							<div class="text=danger">Must have an email valid format</div>
						</div>
						<div class="small" *ngIf="emailAlreadyExist">
							<span class="text-danger small"> Email already exist</span>
						</div>
					</div>

					<div class="form-group">
						<label for="tradeLicenseNumber"> Trade License No. </label>
						<input
							id="tradeLicenseNumber"
							formControlName="tradeLicenseNumber"
							type="text"
							maxlength="6"
							minlength="6"
							class="form-control w-50"
						/>
					</div>

					<div
						role="button"
						(click)="trigger('file')"
						class="mt-3 trade-license-upload-btn d-flex aic"
					>
						<i-feather name="upload-cloud" class="mr-3"></i-feather>
						<span class="mt-2">Upload Trade License</span>
					</div>

					<div *ngFor="let file of files" class="file mt-3 mr-3">
						{{ file.name }}
					</div>

					<input
						multiple
						(change)="readFile($event)"
						type="file"
						id="file"
						style="display: none"
					/>

					<div class="d-flex mt-5">
						<button
							[class.btn-disabled]="!informationForm.valid"
							[disabled]="!informationForm.valid"
							type="submit"
							class="btn ml-auto"
						>
							Get free account
							<i-feather class="ml-2" name="arrow-right"> </i-feather>
						</button>
					</div>
				</div>
			</form>
			<div class="card-body p-2" *ngIf="signInTab === 2">
				<h2>Set up your account</h2>

				<div class="form-group mb-2">
					<label for="free-trial">Select a package</label>
					<div class="form-check d-flex aic">
						<input
							disabled
							(click)="handleRadio('premium')"
							[checked]="radios.premium === true"
							class="form-check-input mr-5 mr-2"
							type="radio"
							id="premium"
						/>
						<label class="form-check-label ml-3" for="premium">
							Premium Complete Solution
							<br />
							<span class="text-success">(150 AED/mo)</span>
						</label>
					</div>
					<div class="form-check d-flex aic">
						<input
							(click)="handleRadio('trial')"
							[checked]="radios.trial === true"
							class="form-check-input mr-5 mr-2"
							type="radio"
							id="free-trial"
						/>
						<label class="form-check-label ml-3" for="free-trial">
							2 months Free Trial
							<br />
							<span class="text-success">(Complete Solution)</span>s
						</label>
					</div>
					<div class="form-check d-flex aic">
						<input
							disabled
							(click)="handleRadio('web')"
							[checked]="radios.web === true"
							class="form-check-input mr-5 mr-2"
							type="radio"
							id="web-solution"
						/>
						<label class="form-check-label ml-3" for="web-solution">
							Web Solution
							<br />
							<span class="text-success">(100 AED/mo)</span>
						</label>
					</div>
					<div class="form-check d-flex aic">
						<input
							disabled
							(click)="handleRadio('mobile')"
							[checked]="radios.mobile === true"
							class="form-check-input mr-5 mr-2"
							type="radio"
							id="mobile"
						/>
						<label class="form-check-label ml-3" for="mobile">
							Clinic Advertisement on Mawedy Mobile Application
							<br />
							<span class="text-success">(50 AED/mo)</span>
						</label>
					</div>
				</div>

				<div class="form-group mt-3">
					<label for="username">Username</label>
					<input
						id="username"
						[(ngModel)]="clinic.username"
						type="text"
						class="form-control w-50"
					/>
					<div class="invalid-feedback">
						<div class="text=danger">Username is required.</div>
						<div class="text=danger">Must have at least 8 characters.</div>
					</div>
				</div>

				<div class="row" style="margin-top: -1rem">
					<div *ngFor="let account of users" class="col-md-4">
						<label [for]="account.id">Account #{{ account.id }}</label>
						<input
							[(ngModel)]="account.name"
							[id]="account.id"
							placeholder="John Doe"
							type="text"
							class="form-control"
						/>
					</div>
				</div>

				<div class="form-group">
					<label for="message" class="d-flex aic">
						<div>Want a custom package? Reach Us.</div>
						<div class="text-info ml-auto">Optional</div>
					</label>
					<textarea
						id="message"
						placeholder="Aa"
						type="number"
						class="form-control"
						[(ngModel)]="clinic.message"
					></textarea>
				</div>

				<div class="d-flex mt-5 aic">
					<div (click)="signInTab = 1" role="button" class="mr-4 ml-auto">
						<i-feather class="ml-2" name="arrow-left"> </i-feather>

						<span>Back</span>
					</div>
					<button
						(click)="register()"
						[class.btn-disabled]="clinic.username == undefined"
						[disabled]="clinic.username == undefined"
						class="btn"
					>
						<i-feather name="log-in"></i-feather>
						Register
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
