.tab-container {
	.tabs {
		padding: 14px 31px;
		text-align: left;
		letter-spacing: 0.04px;
		color: var(--color2);
		margin-bottom: -3px;
		font-size: 20px;
		cursor: pointer;
	}

	.active {
		background: var(--tabContainer) 0% 0% no-repeat padding-box;
		border-radius: 0;
		font-family: bold;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		color: var(--color1);
	}
	margin-top: 23px;
}
.item {
	width: 100%;
	padding: 0.65rem 1.28rem;
	clear: both;
	white-space: nowrap;
	width: auto;
	cursor: pointer;
	font-size: 0.9rem;
	align-items: center;
	.icon {
		margin-right: 1rem;
	}
	.feather {
		margin-left: -0.5rem;
	}

	&:hover {
		background-color: var(--page1);
		color: var(--accent);
	}
}

.feather:active {
	opacity: 0.5;
}
