<div class="tab-container d-flex aic">
	<div class="d-flex aic">
		<div
			class="tabs d-flex"
			*ngFor="let tab of tabs | slice: 0:5; let i = index"
			[class.active]="tab.id === active"
			[class.bold]="tab.id === active"
			(click)="setActiveTab(tab.id)"
		>
			{{ tab.name }}
		</div>
		<modal
			class="ml-auto"
			[button]="moreModalBtn"
			[component]="departmentLists"
			[title]="'Departments (' + tabs.length + ')'"
			type="Right"
		></modal>
	</div>

	<ng-template #departmentLists>
		<view-departments></view-departments>
	</ng-template>

	<ng-template #moreModalBtn>
		<div class="tabs d-flex">
			<span style="color: var(--color1)">More</span>
			<span>
				<i-feather
					style="color: var(--color1)"
					name="chevron-right"
					class="feather"
				></i-feather>
			</span>
		</div>
	</ng-template>
</div>
