.tab-container {
	.tabs {
		padding: 14px 31px;
		text-align: left;
		letter-spacing: 0.04px;
		color: var(--color2);
		margin-bottom: -3px;
		font-size: 20px;
		cursor: pointer;
	}

	.active {
		background: var(--tabContainer) 0% 0% no-repeat padding-box;
		border-radius: 0;
		font-family: bold;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		color: var(--color1);
	}
	margin-top: 23px;
}

.feather:active {
	opacity: 0.5;
}
