<ng-template #component>
	<toolbar-profile></toolbar-profile>
</ng-template>

<home-toolbar [component]="component"></home-toolbar>
<div class="page">
	<div class="page-content">
		<div class="d-flex">
			<modal
				class="ml-auto"
				[button]="button"
				[component]="body"
				title="Add Department"
				type="Center Small"
			></modal>
		</div>
		<app-tabs
			[tabs]="tabs"
			[active]="activeTab"
			(OnSetActiveTab)="setActiveTab($event)"
		></app-tabs>

		<div class="tab-container">
			<div class="row" [@listAnimation]="services.length">
				<div class="col-md-4" *ngFor="let service of services">
					<app-service-card
						[title]="service.name"
						[available]="service.isActive"
						[description]="service.description"
						[image]="service.images[0].url"
					></app-service-card>
				</div>
			</div>
		</div>
	</div>

	<ng-template #button>
		<button class="btn add-medical-services ml-auto d-flex aic">
			<i-feather name="plus-circle" class="mr-3"></i-feather>
			<span>Add Department</span>
		</button>
	</ng-template>

	<ng-template #body>
		<add-department-modal-body></add-department-modal-body>
	</ng-template>
</div>
