<ng-template #component>
	<toolbar-profile></toolbar-profile>
</ng-template>

<home-toolbar [component]="component"></home-toolbar>
<div class="page">
	<div class="page-content" *ngIf="clinic">
		<div class="row">
			<div class="col-md-8">
				<label for="">Banners</label>
				<carousel
					*ngIf="clinic?.photos.length !== 0"
					[height]="500"
					[cellsToShow]="1.1"
					[dots]="true"
					[borderRadius]="5"
					[margin]="0"
					[autoplay]="true"
					[autoplayInterval]="2500"
					[loop]="true"
				>
					<div
						*ngFor="let image of clinic?.photos"
						class="carousel-cell"
						style="background: var(--bg)"
					>
						<img style="object-fit: stretch" [src]="image.avatar" />
					</div>
				</carousel>
			</div>

			<div
				*ngIf="clinic?.photos.length === 0 && !files"
				class="col-md-8 mb-3"
			>
				<label for="">Banners</label>
				<div
					(click)="trigger('banners')"
					class="clinic-image-placeholder d-flex aic jcc"
				>
					<i-feather
						*ngIf="clinic?.photos.length === 0"
						class="image-icon"
						name="image"
					></i-feather>
				</div>
			</div>

			<div
				role="button"
				class="mb-3 col-md-4 w-100 d-flex aic jcc"
				style="flex-direction: column"
			>
				<label for="">Logo</label>
				<div
					(click)="trigger('logo')"
					class="clinic-logo-placeholder d-flex aic jcc"
				>
					<img
						role="button"
						*ngIf="logoSrc"
						class="clinic-image"
						style="border-radius: 50%"
						[src]="logoSrc"
						alt=""
						(click)="trigger('file')"
					/>
					<i-feather
						*ngIf="!file"
						class="image-icon"
						name="image"
					></i-feather>
				</div>
			</div>
		</div>

		<input
			multiple
			(change)="readFiles($event)"
			type="file"
			id="banners"
			accept="image/*"
			style="display: none"
		/>

		<input
			(change)="readFile($event)"
			type="file"
			accept="image/*"
			id="logo"
			style="display: none"
		/>

		<div class="row mt-5 p-0">
			<div class="col-md-6 p-0">
				<div class="form-group col-md-12">
					<label for="">Name</label>
					<input
						[(ngModel)]="clinic.name"
						type="text"
						class="form-control"
					/>
				</div>

				<div class="form-group col-md-12">
					<label for="">Description</label>
					<textarea
						[(ngModel)]="clinic.description"
						class="form-control"
					></textarea>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group col-md-12">
					<label for="">Address</label>
					<input
						[(ngModel)]="clinic.address"
						type="text"
						class="form-control"
					/>
				</div>

				<div class="form-group col-md-12">
					<label for="">Pin Location</label>
					<agm-map
						class="map"
						[latitude]="lat"
						[longitude]="lng"
						[zoom]="15"
					>
						<agm-marker
							(dragEnd)="markerDragEnd({}, $event)"
							[latitude]="lat"
							[longitude]="lng"
							[draggable]="true"
						></agm-marker>
					</agm-map>
				</div>
			</div>

			<div class="form-group col-md-12 row p-0 m-0">
				<div class="col-md-3 pr-5">
					<label for="">Contact numbers</label>
					<input placeholder="" type="text" class="form-control" />
					<input placeholder="" type="text" class="form-control" />
					<label>Facebook</label>
					<input
						[(ngModel)]="clinic.facebook"
						placeholder=""
						type="text"
						class="form-control"
					/>
					<label>Instagram</label>
					<input
						[(ngModel)]="clinic.instagram"
						placeholder=""
						type="text"
						class="form-control"
					/>
					<label>Google</label>
					<input
						[(ngModel)]="clinic.google"
						placeholder=""
						type="text"
						class="form-control"
					/>
				</div>
				<div class="col-md-3 p-0">
					<div class="d-flex mb-3">
						<label><span>Timings</span></label>
						<label class="ml-auto mr-2">Open - Close</label>
					</div>

					<div
						class="d-flex aic"
						*ngFor="let day of timings; let i = index"
					>
						<div
							[style.margin-top]="i === 7 ? '0' : '-1rem'"
							style="margin-top: -1rem"
						>
							{{ day }}
						</div>
						<div class="ml-auto">
							<div
								*ngIf="i !== 7"
								class="timings-input d-flex"
								[class.disabled]="is24Hrs"
							>
								<input
									*ngIf="i !== 7"
									type="text"
									placeholder="12:30PM"
									[(ngModel)]="clinicTimings[i].openedAt"
								/>
								<input
									*ngIf="i !== 7"
									type="text"
									placeholder="12:30PM"
									[(ngModel)]="clinicTimings[i].closedAt"
								/>
							</div>

							<div class="app-checkbox" *ngIf="i === 7">
								<app-checkbox
									[checked]="is24Hrs"
									(onCheck)="set24Hrs($event)"
									[alt]="true"
									*ngIf="i === 7"
								>
								</app-checkbox>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<!-- button  -->
				<div
					(click)="save()"
					[class.isProcessing]="isProcessing === true"
					[class.isComplete]="isProcessing === 'complete'"
					class="d-flex mt-5"
				>
					<button class="btn primary-button">
						<span *ngIf="isProcessing === 'complete'">
							<i-feather name="check"></i-feather>
						</span>
						<span *ngIf="!isProcessing">
							<i-feather
								class="ml-2 text-white"
								name="upload-cloud"
							>
							</i-feather>
							Update information</span
						>

						<div
							style="color: var(--accent) !important"
							*ngIf="isProcessing === true"
							class="spinner-border text-success"
							role="status"
						></div>
					</button>
				</div>
				<!-- button  -->
			</div>
		</div>
	</div>
</div>
