.header {
	width: 100%;
	.clinic-promotion {
		letter-spacing: 0.05px;
		color: var(--color1);
		text-transform: capitalize;
		opacity: 1;
		font-size: 25px;
	}
	.view-statistic {
		margin-left: auto;
		text-align: left;
		letter-spacing: 0.03px;
		color: #0472ff;
		text-transform: capitalize;
		opacity: 1;
		font-size: 16px;
		span {
			margin-left: 8px;
		}
	}
}

.clinic-image {
	width: 1487px;
	height: 602px;
	object-fit: fill;
	margin-top: 9;
}

.map {
	width: 100%;
	height: 312px;
	background: var(--searchInput);
}

.contact-form {
	background: var(--searchInput) 0% 0% no-repeat padding-box;
	border: 0.5px solid rgba($color: #707070, $alpha: 0.4);
	border-radius: 5px;
	height: 45px;
	margin-bottom: 21px;
	padding: 10px;
	button {
		padding: 5px !important;
		&:focus {
			outline: 0 !important;
			border: none;
			box-shadow: none;
		}
	}
	input {
		background: transparent;
		width: 100%;
		outline: 0 !important;
		border: none;
		box-shadow: none;
		color: var(--color1);
		padding-left: 1rem;
		border-left: 0.5px solid rgba($color: #707070, $alpha: 0.4);
		&:focus {
			outline: 0 !important;
			box-shadow: none;
		}
	}
}

.open-close {
	text-align: left;
	letter-spacing: 0.03px;
	color: #0a2440;
	font-size: 15px;
	margin-top: 37px;
	letter-spacing: 0.04px;
	margin-bottom: 30px;
}

.disabled {
	background: #cfdae8 0% 0% no-repeat padding-box;
	input {
		color: var(--color2) !important;
	}
}

.timings {
	text-align: left;
	letter-spacing: 0.03px;
	color: var(--color1);
	font-size: 16px;
	height: 25px;
	margin-bottom: 12px;
}

.timings-input {
	background: var(--searchInput) 0% 0% no-repeat padding-box;
	border: 1px solid #00b074;
	border-radius: 5px;
	height: 25px;
	letter-spacing: 0.03px;
	color: var(--color1);
	text-transform: uppercase;
	font-size: 13px;
	margin-bottom: 1rem;
	text-align: center;
	&:focus {
		outline: 0 !important;
	}
}
.disabled {
	background: var(--disabled) 0% 0% no-repeat padding-box;
	color: #99a8bc;
	border: transparent;
	pointer-events: none;
	cursor: not-allowed;
}

textarea {
	height: 312px !important;
}

.clinic-image-placeholder {
	width: 100%;
	background: var(--bg2);
	padding: 15vh;
	margin-bottom: -2rem;
	cursor: pointer;
	.image-icon {
		width: 5rem;
		height: 5rem;
	}
}

.clinic-logo-placeholder {
	height: 250px;
	background: var(--bg2);
	width: 250px;
	img {
		height: 100%;
		width: 100%;
	}
	.image-icon {
		width: 5rem;
		height: 5rem;
	}
}

.app-checkbox {
	margin-top: 1rem;
	margin-right: calc(140px - 1.5rem);
}

.isProcessing {
	.btn {
		background: none !important;
		border: none;
		:focus {
			outline: 0 !important;
		}
		.btn:focus {
			outline: 0 !important;
		}

		button:focus {
			outline: 0 !important;
		}
	}
}
.btn {
	background: var(--accent);
	span {
		color: white;
	}
	border-radius: 9999px;
	font-size: 1.2rem;
	height: 50px;
	transition: 1.3s ease;
	padding-left: 30px;
	padding-right: 30px;
	:focus {
		outline: 0 !important;
	}
}

.btn :active {
	font-size: 0.95rem;
}

.timings-input {
	input {
		width: 65px;
		margin-right: 0.2rem;
		background: none;
		border: none;
		padding-left: 5px;
		padding-top: 3px;
		color: var(--color1);
	}
}

.form-control {
	font-size: 1.3rem;
	font-family: normal !important;
}

.timing {
	color: var(--color1);
	// font-size: 1.2rem;
}
