@import url('./login.scss');
@import url('./home.scss');

html {
	--bg1: #1e1e1e;
	--bg2: #171717;
	--bg3: #000000;
	--color1: white;
	--color2: lightgray;
	--color3: gray;
	background: var(--bg1);
	body {
		background: var(--bg1);
	}
}
