<div class="row w-100 mt-5 pt-5">
	<div
		class="col-md-6 d-flex aic jcc"
		style="height: inherit; flex-direction: column"
	>
		<h1 class="placeholder-title text-center mt-5">
			Hi {{ name || '' }}! we haven't <br />
			add any doctors yet. <br />
		</h1>
		<modal
			[button]="addDoctorBtn"
			[component]="body"
			title="Doctors Profile"
			type="Center Large"
		>
		</modal>
	</div>
	<div class="col-md-6">
		<img
			class="mt-4"
			style="height: 35vh"
			src=".../../../../../../assets/app/placeholders/doctors.svg"
			alt=""
		/>
	</div>
</div>

<ng-template #addDoctorBtn>
	<button class="btn-add btn btn-lg mt-5">
		<span>Start adding</span>
	</button>
</ng-template>

<ng-template #body>
	<app-doctors-profile-body></app-doctors-profile-body>
</ng-template>
