.toolbar {
	height: 70px;
	border: 1px solid var(--border1);
	padding: 15px 30px;
	display: flex;
	align-items: center;
	flex-direction: row;
	width: calc(100vw - 280px);
	background: var(--toolbar);
	padding-bottom: -0px;
	box-shadow: var(--toolbarShadow);
	position: relative;
	z-index: 1;
}
