.toolbar {
	height: 70px;
	border: 1px solid #e3ebf5;
	padding: 15px 30px;
	display: flex;
	align-items: center;
	flex-direction: row;
	width: calc(100vw - 280px);
	background: #ffffff 0% 0% no-repeat padding-box;
	padding-bottom: -0px;
}
