<div class="row">
	<div class="col-md-12">
		<label for="">Select a patient</label>
		<input type="search" class="form-control" placeholder="" />
	</div>

	<div class="col-md-12">
		<label for="">Select a department</label>
		<select class="form-control"></select>
	</div>

	<div class="col-md-12">
		<label for="">Select a medical service</label>
		<input type="search" class="form-control" placeholder="" />
	</div>

	<div class="col-md-12">
		<label for="">Select a doctor</label>
		<div
			[class.hasBorder]="selectedDoctor.length !== 0"
			class="doctor-inputs"
			[@listAnimation]="selectedDoctor.length"
		>
			<div class="doctor" *ngFor="let doctor of selectedDoctor; let i = index">
				<div class="d-flex aic p-2 w-100">
					<img class="doctor-img" [src]="doctor.avatar" alt="" />
					<div class="text w-100 ml-3">
						<div class="doctor-name">Dr. {{ doctor.name }}</div>
						<span class="ml-auto badge badge-success mb-2">Available today</span>
						<div class="doctor-title">{{ doctor.title }}</div>
						<div class="profession">{{ doctor.profession }}</div>
						<div class="profession">
							{{ doctor.yearsOfExperience }} Years Experience
						</div>
					</div>
					<div (click)="removeDoctor(i)" class="action ml-auto">
						<i-feather name="delete" class="feather doctor-remove"></i-feather>
					</div>
				</div>
			</div>
			<input
				*ngIf="selectedDoctor.length === 0"
				(input)="selectDoctor()"
				[(ngModel)]="doctorKeyword"
				id="search-doctor"
				type="text"
				class="form-control custom"
				placeholder="Search a doctor.."
				autocomplete="off"
			/>
		</div>
		<dropdown-doctor
			*ngIf="selectedDoctor.length === 0"
			(onSelectDoctor)="onSelectDoctor($event)"
			[doctors]="doctors"
		></dropdown-doctor>
	</div>

	<div class="col-md-6">
		<label for="">Select Date</label>
		<input type="date" class="form-control" />
	</div>

	<div class="col-md-6">
		<label for="">Select time slot</label>
		<input type="date" class="form-control" />
	</div>

	<div class="col-md-12">
		<label for="">Appointment Type</label>
		<select class="form-control">
			<option value="" selected disabled>Returning Patient</option>
		</select>
	</div>

	<div class="col-md-12">
		<label for="">Add Note</label>
		<textarea placeholder="Aa" class="form-control"></textarea>
	</div>

	<div class="col-md-12">
		<hr />
	</div>

	<div class="col-md-12 d-flex mb-4">
		<button (click)="closeModal()" class="btn btn-lg btn-cancel mr-2 ml-auto">
			Cancel
		</button>
		<button class="btn btn-lg btn-add">Schedule</button>
	</div>
</div>
