.row {
	margin: 0;
}
.patient-details {
	text-align: left;
	letter-spacing: 0.03px;
	color: var(--accent);
	text-transform: capitalize;
	font-size: 1.3rem;
	margin-top: 2rem;
	margin-bottom: 0.5rem;
}

textarea {
	height: 190px !important;
}

.doctor-inputs {
	min-height: 60px !important;
	width: 100%;
	margin-bottom: 20px;
	background-color: var(--bg);
	position: relative;
	padding-right: 0px;
	.icon {
		position: absolute;
		right: 1rem;
		top: 1rem;
		z-index: 999999999;
		color: var(--color2);
	}
}
.hasBorder {
	border: 2px solid var(--border1);
	padding: 1rem;
	.custom {
		background-color: var(--bg2) !important;
		border-radius: 10px;
		margin-bottom: 0;
	}
}
.doctor-img {
	margin-right: 0.5rem;
	border-radius: 50% !important;
	vertical-align: middle;
	height: 2rem;
	width: 2rem;
}
.custom {
	padding: 0.5rem;
	background: url('/assets/app/dropdown-icon.svg') no-repeat left;
	background-position: 97%;
	padding-left: 1rem;
}

.doctor {
	margin-bottom: 1rem;
	border-radius: 10px;
	display: inline-block;
	background: var(--bg2);
	padding-bottom: 0;
	margin-right: 1.2rem;
	border: 1px solid var(--border1);
	.text {
		color: var(--color1);
		width: 103px;
		font-size: 0.8rem;
		line-height: 0.8rem;
	}

	.doctor-remove {
		color: var(--color1);
		&:hover {
			color: #e66f7a;
		}
		&:active {
			color: #e66f7a;
			transform: scale(0.9);
		}
	}
}
