.row {
	margin: 0;
}
.patient-details {
	text-align: left;
	letter-spacing: 0.03px;
	color: var(--accent);
	text-transform: capitalize;
	font-size: 1.3rem;
	margin-top: 2rem;
	margin-bottom: 0.5rem;
}

textarea {
	height: 190px !important;
}

.doctor-inputs {
	width: 100%;
	margin-bottom: 3rem;
	background: var(--bg1);
	position: relative;
	border-radius: 5px;
	.icon {
		position: absolute;
		right: 1rem;
		top: 1rem;
		z-index: 999999999;
		color: var(--color2);
	}
}
.hasBorder {
	border: 2px solid var(--border1);
	padding: 0.5rem;
}
.doctor-img {
	margin-right: 0.5rem;
	border-radius: 50% !important;
	vertical-align: middle;
	height: 4rem;
	width: 4rem;
	box-shadow: var(--dropShadow);
	border: 2px solid var(--bg1);
}
.custom {
	padding: 0.5rem;
	background: url('/assets/app/dropdown-icon.svg') no-repeat left;
	background-position: 97%;
	padding-left: 1rem;
}

.doctor {
	padding-bottom: 0;
	width: 100%;
	.text {
		color: var(--color1);
		font-size: 0.8rem;
		line-height: 0.8rem;
		width: 70%;
	}

	.doctor-remove {
		color: var(--color1);
		cursor: pointer;
		&:hover {
			color: #e66f7a;
		}
		&:active {
			color: #e66f7a;
			transform: scale(0.9);
		}
	}
}

.doctor-name {
	font-size: 1.1rem;
	font-family: bold;
	margin-bottom: 0.3rem;
	color: var(--color1);
}

.doctor-title,
.profession {
	margin-top: 0.3rem;
	color: var(--color2);
	margin-bottom: 0.3rem;
}
.profession {
	margin-bottom: 0rem;
}
