<div class="row">
	<div class="col-md-12">
		<label for="">Select Patient</label>
		<input type="search" class="form-control" placeholder="" />
	</div>

	<div class="col-md-12">
		<label for="">Select Department</label>
		<select class="form-control"></select>
	</div>

	<div class="col-md-12">
		<label for="">Select Medical Service</label>
		<input type="search" class="form-control" placeholder="" />
	</div>

	<div class="col-md-12">
		<label for="">Select doctor</label>
		<div
			[class.hasBorder]="selectedDoctor.length !== 0"
			class="doctor-inputs"
			[@listAnimation]="selectedDoctor.length"
		>
			<div class="doctor" *ngFor="let doctor of selectedDoctor; let i = index">
				<div class="d-flex aic p-2">
					<img class="doctor-img" [src]="doctor.avatar" alt="" />
					<div class="text">Dr. {{ doctor.name }}</div>
					<div (click)="removeDoctor(i)" class="action ml-4">
						<i-feather name="delete" class="feather doctor-remove"></i-feather>
					</div>
				</div>
			</div>
			<input
				(input)="selectDoctor()"
				[(ngModel)]="doctorKeyword"
				id="search-doctor"
				type="text"
				class="form-control custom"
				placeholder="Search Doctor"
				autocomplete="off"
			/>
		</div>
		<dropdown-doctor
			(onSelectDoctor)="onSelectDoctor($event)"
			[doctors]="doctors"
		></dropdown-doctor>
	</div>

	<div class="col-md-6">
		<label for="">Select Date</label>
		<input type="date" class="form-control" />
	</div>

	<div class="col-md-6">
		<label for="">Select time slot</label>
		<input type="date" class="form-control" />
	</div>

	<div class="col-md-12">
		<label for="">Appointment Type</label>
		<select class="form-control">
			<option value="" selected disabled>Returning Patient</option>
		</select>
	</div>

	<div class="col-md-12">
		<label for="">Add Note</label>
		<textarea placeholder="Aa" class="form-control"></textarea>
	</div>

	<div class="col-md-12">
		<hr />
	</div>

	<div class="col-md-12 d-flex mb-4">
		<button (click)="closeModal()" class="btn btn-lg btn-cancel mr-2 ml-auto">
			Cancel
		</button>
		<button class="btn btn-lg btn-add">Schedule</button>
	</div>
</div>
