<div class="p-4 pt-0">
	<div
		role="button"
		class="mb-3 w-100 d-flex aic jcc"
		style="flex-direction: column; width: 100"
	>
		<label class="text-left w-100">New Medical Service Banners</label>
		<div (click)="trigger('logo')" class="service-image d-flex aic jcc">
			<!-- <img
						role="button"
						*ngIf="logoSrc"
						class="clinic-image"
						style="border-radius: 50%"
						[src]="logoSrc"
						alt=""
						(click)="trigger('file')"
					/> -->
			<i-feather class="image-icon" name="image"></i-feather>
		</div>

		<input
			multiple
			(change)="readFiles($event)"
			type="file"
			id="banners"
			accept="image/*"
			style="display: none"
		/>
	</div>

	<div class="form-group">
		<label class="text-left w-100">New Medical Service Name</label>
		<input type="text" class="form-control" />
	</div>

	<label for="search-doctor" class="text-left w-100">Doctors for this service</label>
	<div
		[class.hasBorder]="selectedDoctor.length !== 0"
		class="doctor-inputs"
		[@listAnimation]="5"
	>
		<div class="doctor mr-3" *ngFor="let doctor of selectedDoctor">
			<div class="d-flex aic p-2">
				<img class="doctor-img" [src]="doctor.avatar" alt="" />
				<div class="text">Dr. {{ doctor.name }}</div>
				<div class="action ml-4">
					<i-feather name="delete" class="feather doctor-remove"></i-feather>
				</div>
			</div>
		</div>
		<input
			(input)="selectDoctor()"
			[(ngModel)]="keyword"
			id="search-doctor"
			type="text"
			class="form-control"
		/>
		<div class="icon">
			<i-feather name="chevron-down" class="feather"></i-feather>
		</div>
	</div>
	<dropdown-doctor
		(onSelectDoctor)="onSelectDoctor($event)"
		[doctors]="doctors"
	></dropdown-doctor>

	<div class="form-group mt-3">
		<label class="text-left w-100">Description</label>
		<textarea type="text" class="form-control" placeholder="Aa"></textarea>
	</div>
</div>
