.working-schedule {
	width: 1066px;
	height: 93px;
	background: var(--bg2) 0% 0% no-repeat padding-box;
	border: 1px solid var(--border1);
	border-radius: 8px;
	display: flex;
	justify-content: center;
	flex: 1;
	flex-direction: row;
	padding: 29px 20px;
	.container {
		flex: 1;
		flex-direction: column;
	}
	.day-container {
		.day {
			text-align: center;
			letter-spacing: 0.03px;
			color: #0a2440;
			text-transform: uppercase;
			opacity: 1;
		}
	}

	.text-available {
		font-size: 0.8rem;
		text-align: left;
		letter-spacing: 0.03px;
		color: #6f7d8f;
		text-transform: capitalize;
		opacity: 1;
		margin-top: 18px;
	}

	.circle {
		height: 1rem;
		width: 0.8rem;
		background: var(--bg1);
		border: 1px solid var(--border1);
		border-radius: 50%;
		cursor: pointer;
	}

	.active {
		background: #00b074;
		border: 1px solid var(--page1);
	}
}
