.blur-modal {
	width: 580px;
	position: fixed;
	height: 100%;
	right: 0;
	top: 0;
	z-index: 11;
	padding: 70px;
	display: flex;
	flex-direction: column-reverse;
	backdrop-filter: blur(21px);
}

.confirm-container {
	background: var(--bg1) 0% 0% no-repeat padding-box;
	box-shadow: 0px 2px 8px var(--shadow1);
	border: 1px solid var(--border1);
	border-radius: 16px;
	opacity: 1;
	width: 100%;
	min-height: 230px;
	padding: 20px 30px;
}

.are-you-sure {
	text-align: left;
	letter-spacing: 0.05px;
	color: var(--color1);
	font-size: 22px;
	font-family: bold;
}

.button-container {
	display: flex;
	flex-direction: row-reverse;
	margin-top: 53px;
	align-items: center;
}

.no {
	margin-top: -7px;
}

.no,
.yes {
	cursor: pointer;
}
