<ng-template #component>
	<toolbar-promotions></toolbar-promotions>
</ng-template>

<home-toolbar [component]="component"></home-toolbar>
<div class="page">
	<form [formGroup]="form" (ngSubmit)="save()">
		<div class="page-content">
			<div class="row">
				<div *ngIf="src !== undefined" class="col-md-12">
					<label for="">Promotional Banners</label>
					<img
						*ngIf="src !== undefined"
						[src]="src"
						(click)="promotionBanner.click()"
						class="clinic-image-placeholder d-flex aic jcc"
						style="object-fit: fill"
						role="button"
						alt=""
					/>
				</div>
				<div *ngIf="src === undefined" class="col-md-12 mb-3">
					<label for="">Promotional Banners</label>
					<div
						(click)="promotionBanner.click()"
						class="clinic-image-placeholder d-flex aic jcc"
					>
						<i-feather
							class="image-icon"
							name="image"
						></i-feather>
					</div>
				</div>
			</div>

			<input
				(change)="readFileURL($event)"
				type="file"
				accept="image/*"
				style="display: none"
				id="image1"
				#promotionBanner
			/>

			<div class="row mt-5 p-0">
				<div class="form-group col-md-3">
					<label for="">Clinic Name</label>
					<input
						[value]="clinicName"
						[disabled]="true"
						type="text"
						class="form-control"
					/>
				</div>

				<div class="form-group col-md-3">
					<label for="name">Promotion Name</label>
					<input
						type="text"
						id="name"
						formControlName="name"
						[class.is-invalid]="
							form.get('name')?.invalid &&
							form.get('name')?.touched
						"
						class="form-control"
					/>
					<div class="invalid-feedback">
						<div class="text=danger">
							Promotion name is required and should
							have at least 3 minimum characters.
						</div>
					</div>
				</div>

				<div class="form-group col-md-3">
					<label for="startAt">Start At</label>
					<input
						type="date"
						id="startAt"
						formControlName="startAt"
						[class.is-invalid]="
							form.get('startAt')?.invalid &&
							form.get('startAt')?.touched
						"
						class="form-control"
					/>
					<div class="invalid-feedback">
						<div class="text=danger">
							Promotion Start At is required and.
						</div>
					</div>
				</div>

				<div class="form-group col-md-3">
					<label for="valid_until">Valid Until</label>
					<input
						type="date"
						type="date"
						id="valid_until"
						formControlName="valid_until"
						[class.is-invalid]="
							form.get('valid_until')?.invalid &&
							form.get('valid_until')?.touched
						"
						class="form-control"
					/>
					<div class="invalid-feedback">
						<div class="text=danger">
							Promotion Valid Until at is required.
						</div>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label for="highlights">Highlights</label>
					<textarea
						id="highlights"
						formControlName="highlights"
						[class.is-invalid]="
							form.get('highlights')?.invalid &&
							form.get('highlights')?.touched
						"
						class="form-control"
					></textarea>
					<div class="invalid-feedback">
						<div class="text=danger">
							Promotion Highlights is required and
							should have at least 13 characters.
						</div>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label for="termsAndConditions"
						>Terms And Conditions</label
					>
					<textarea
						id="termsAndConditions"
						formControlName="termsAndConditions"
						[class.is-invalid]="
							form.get('termsAndConditions')
								?.invalid &&
							form.get('termsAndConditions')
								?.touched
						"
						class="form-control"
					></textarea>
					<div class="text=danger">
						Terms And Conditions is required and should
						have at least 13 characters.
					</div>
				</div>

				<div class="form-group col-md-6">
					<label for="search-doctor" class="text-left w-100"
						>Doctors Available</label
					>
					<div
						[class.hasBorder]="
							selectedDoctor.length !== 0
						"
						class="doctor-inputs"
						[@listAnimation]="selectedDoctor.length"
					>
						<div
							class="doctor"
							*ngFor="
								let doctor of selectedDoctor;
								let i = index
							"
						>
							<div class="d-flex aic p-2">
								<img
									class="doctor-img"
									[src]="doctor.avatar"
									alt=""
								/>
								<div class="text">
									Dr. {{ doctor.name }}
								</div>
								<div
									(click)="removeDoctor(i)"
									class="action ml-4"
								>
									<i-feather
										name="delete"
										class="feather doctor-remove"
									></i-feather>
								</div>
							</div>
						</div>
						<input
							(input)="selectDoctor()"
							formControlName="keyword"
							id="search-doctor"
							type="text"
							class="form-control custom"
							placeholder="Search.."
							autocomplete="off"
						/>
					</div>

					<dropdown-doctor
						(onSelectDoctor)="onSelectDoctor($event)"
						[doctors]="doctors"
					></dropdown-doctor>
				</div>

				<div class="form-group col-md-3">
					<label class="d-flex" for=""
						>Discount
						<span class="text-info ml-auto"
							>(Optional)</span
						></label
					>
					<input type="text" class="form-control" />
				</div>

				<div class="col-md-6 mt-5">
					<div class="d-flex aic w-100">
						<div
							[class.isProcessing]="
								isProcessing === true
							"
							[class.isComplete]="
								isProcessing === 'complete'
							"
							class="d-flex mt-3"
						>
							<button
								class="btn btn-add btn-lg ml-auto mt-3"
								[class.btn-disabled]="
									!form.valid
								"
								[disabled]="!form.valid"
								type="submit"
							>
								<span
									*ngIf="
										isProcessing ===
										'complete'
									"
								>
									<i-feather
										name="check"
									></i-feather>
								</span>
								<span *ngIf="!isProcessing"
									>Publish</span
								>

								<div
									style="
										color: var(
											--accent
										) !important;
									"
									*ngIf="
										isProcessing ===
										true
									"
									class="spinner-border text-success"
									role="status"
								></div>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
