<div class="d-flex" style="width: calc(100vw - 50%)">
	<h1 class="doctors-count bold">Doctors (32)</h1>
	<div class="input-container ml-auto">
		<input type="search" placeholder="Search" />
		<img
			class="search ml-auto"
			src="../../../assets/app/toolbars/dashboard/search.png"
			alt=""
		/>
	</div>

	<div role="button" class="filter-container">
		<span>Filter</span>
		<img
			class="filter-icon"
			src="../../../assets/app/toolbars/dashboard/filter.png"
			alt=""
		/>
	</div>

	<modal
		[button]="addDoctorBtn"
		[component]="body"
		title="Doctors Profile"
		type="Center Large"
	>
	</modal>

	<ng-template #addDoctorBtn>
		<button class="add-doctor d-flex aic jcc btn">
			<i-feather name="plus" class="feather"></i-feather>
			<span>Add Doctor</span>
		</button>
	</ng-template>

	<button class="export d-flex aic jcc btn"><span>Export List</span></button>
</div>

<ng-template #body>
	<app-doctors-profile-body></app-doctors-profile-body>
	<button class="btn btn-add btn-success">Add</button>
</ng-template>
