<ng-template #component>
	<toolbar-patients></toolbar-patients>
</ng-template>

<home-toolbar [component]="component"></home-toolbar>
<div class="page">
	<div class="page-content">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Type</th>
					<th>Name</th>
					<th>Age</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Address</th>
					<th>Profile</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of [1, 1, 1]; let i = index">
					<td>AA</td>
					<td>Clarrise Umair</td>
					<td>28 Yrs.</td>
					<td>28 Yrs.</td>
					<td>+98-7862-43453</td>
					<td>Flat 1167 Majid Building Business Bay Dubai UAE</td>
					<td><button>View</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
