<nav>
	<div class="logo-div">
		<img class="logo" src="../../../assets/app/logo.png" alt="" />
	</div>
	<div class="search-input d-flex aic">
		<img
			class="search ml-auto"
			src="../../../assets/app/toolbars/dashboard/search.png"
			alt=""
		/>
		<input
			type="search"
			placeholder="Search by patient, doctor, departments"
		/>
	</div>

	<div class="aside">
		<div role="button" (click)="showModal()" class="button mr-5">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				width="218"
				height="94"
				viewBox="0 0 218 94"
			>
				<defs>
					<filter
						id="Rectangle_2714"
						x="0"
						y="0"
						width="218"
						height="94"
						filterUnits="userSpaceOnUse"
					>
						<feOffset dy="3" input="SourceAlpha" />
						<feGaussianBlur stdDeviation="8" result="blur" />
						<feFlood flood-color="#00b074" flood-opacity="0.251" />
						<feComposite operator="in" in2="blur" />
						<feComposite in="SourceGraphic" />
					</filter>
				</defs>
				<g id="button" transform="translate(24 21)">
					<g
						transform="matrix(1, 0, 0, 1, -24, -21)"
						filter="url(#Rectangle_2714)"
					>
						<rect
							id="Rectangle_2714-2"
							data-name="Rectangle 2714"
							width="170"
							height="46"
							rx="12"
							transform="translate(24 21)"
							fill="#00b074"
						/>
					</g>
					<g
						id="Group_73719"
						data-name="Group 73719"
						transform="translate(17 11)"
					>
						<text
							id="Appointment"
							transform="translate(81 17)"
							fill="#fff"
							font-size="16"
							font-family="Avenir-Heavy, Avenir"
							font-weight="800"
							letter-spacing="0.002em"
						>
							<tspan x="-49" y="0">Appointment</tspan>
						</text>
						<g id="add-line_" data-name="add-line ">
							<path
								id="Path_6203"
								data-name="Path 6203"
								d="M11,11V5h2v6h6v2H13v6H11V13H5V11Z"
								fill="#fff"
								stroke="#fff"
								stroke-width="1"
							/>
						</g>
					</g>
				</g>
			</svg>
		</div>

		<div role="button" class="notification mr-5">
			<svg
				id="notification"
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
			>
				<path
					id="Path_6204"
					data-name="Path 6204"
					d="M0,0H24V24H0Z"
					fill="none"
				/>
				<path
					id="Path_6205"
					data-name="Path 6205"
					d="M22,20H2V18H3V11.031a9,9,0,1,1,18,0V18h1ZM5,18H19V11.031a7,7,0,1,0-14,0Zm4.5,3h5a2.5,2.5,0,1,1-5,0Z"
					fill="#99a8bc"
				/>
			</svg>
		</div>

		<img
			role="button"
			class="avatar"
			src="../../../../assets/app//navbar/user.png"
			alt=""
		/>

		<div role="button" class="dropdown">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="12"
				height="8"
				viewBox="0 0 12 8"
			>
				<g
					id="arrow-drop-down-line"
					transform="translate(-7.757 -9.343)"
				>
					<path
						id="Path_6226"
						data-name="Path 6226"
						d="M13.757,17.343l-6-6,2-2,4,4,4-4,2,2Z"
						transform="translate(0 0)"
						fill="#99a8bc"
					/>
				</g>
			</svg>
		</div>
	</div>
</nav>
