.btn-manage {
	height: 40px;
	background: var(--bg3) 0% 0% no-repeat padding-box;
	border: 2px solid var(--border1);
	border-radius: 6px;
	color: var(--color);
	font-size: 16px;
	&:hover {
		border: 2px solid var(--accent);
	}
}

.underlined {
	&:hover {
		color: #00b074;
	}
}
tr:nth-child(even) {
	background-color: var(--trBg2) !important;
}
tr:nth-child(odd) {
	background-color: var(--table) !important;
}

.avatar {
	img {
		border-radius: 50%;
		width: 50px;
		height: 50px;
		border: 1px solid var(--border1);
	}
}
