<ng-template #component>
	<toolbar-doctors-profile></toolbar-doctors-profile>
</ng-template>

<home-toolbar [component]="component"></home-toolbar>
<div class="page">
	<div class="page-content">
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="text-center">
						<i-feather name="user" class="feather"></i-feather>
					</th>
					<th>Name</th>
					<th>Profession</th>
					<th>Experience</th>
					<th>Phone</th>
					<th>Availability</th>
					<th></th>
				</tr>
			</thead>
			<tbody [@listAnimation]="doctors.length">
				<tr *ngFor="let doctor of doctors">
					<td class="text-center">
						<div class="avatar">
							<img [src]="doctor.avatar" alt="" />
						</div>
					</td>
					<td>{{ doctor.name }}</td>
					<td>{{ doctor.profession }}</td>
					<td>{{ doctor.yearsOfExperience }} Years</td>
					<td>{{ doctor.phones[0].phone }}</td>
					<td>
						<modal
							[button]="viewBtn"
							[component]="availabilityBody"
							title="Availability"
							type="Center Small"
						>
						</modal>

						<ng-template #availabilityBody>
							<DoctorAvailabilityDetails
								[doctor]="doctor"
							></DoctorAvailabilityDetails>
						</ng-template>

						<ng-template #viewBtn>
							<span class="underlined">View</span>
						</ng-template>
					</td>
					<td class="text-right">
						<button class="btn btn-manage">Manage</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<ng-template #availabilityHeader>
	<div>Availability</div>
</ng-template>

<ng-template #header>
	<div class="doctors-profile">Dr. Hanadi Yassin</div>
</ng-template>

<ng-template #body>
	<view-doctor-body></view-doctor-body>
</ng-template>
