<ng-template #component>
	<toolbar-doctors-profile></toolbar-doctors-profile>
</ng-template>

<home-toolbar [component]="component"></home-toolbar>
<div class="page">
	<div class="page-content">
		<table class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th>Name</th>
					<th>Profession</th>
					<th>Experience</th>
					<th>Phone</th>
					<th>Availability</th>
					<th></th>
				</tr>
			</thead>
			<tbody [@listAnimation]="20">
				<tr *ngFor="let doctor of doctors">
					<td>
						<div class="avatar">
							<img [src]="doctor.avatar" alt="" />
						</div>
					</td>
					<td>{{ doctor.name }}</td>
					<td>{{ doctor.profession }}</td>
					<td>{{ doctor.yearsOfExperience }} Years</td>
					<td>+98-7862-43453</td>
					<td class="underlined">View</td>
					<td class="text-right">
						<button class="btn btn-manage">Manage</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<ng-template #availabilityHeader>
	<div>Availability</div>
</ng-template>

<ng-template #availabilityBody>
	<doctor-availability-modal-body></doctor-availability-modal-body>
</ng-template>

<ng-template #header>
	<div class="doctors-profile">Dr. Hanadi Yassin</div>
</ng-template>

<ng-template #body>
	<view-doctor-body></view-doctor-body>
</ng-template>
