<div class="modal-container">
	<div class="d-flex aic jcc">
		<div class="icon">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="70"
				height="63"
				viewBox="0 0 70 63"
			>
				<g
					id="successful-_icon"
					data-name="successful- icon"
					transform="translate(-781.423 -280.882)"
				>
					<ellipse
						id="Ellipse_290"
						data-name="Ellipse 290"
						cx="10.5"
						cy="10"
						rx="10.5"
						ry="10"
						transform="translate(781.423 295.882)"
						fill="#00e395"
					/>
					<g
						id="Group_73922"
						data-name="Group 73922"
						transform="translate(785.531 280.93)"
					>
						<g id="Dashboard-icon" transform="translate(0 0)">
							<rect
								id="Rectangle_3441"
								data-name="Rectangle 3441"
								width="58"
								height="59"
								transform="translate(-0.109 -0.049)"
								fill="none"
							/>
							<g
								id="Group_73730"
								data-name="Group 73730"
								transform="translate(5.639 7.518)"
							>
								<rect
									id="Rectangle_3442"
									data-name="Rectangle 3442"
									width="44"
									height="40"
									rx="4"
									transform="translate(0.253 4.434)"
									fill="none"
									stroke="#0a2440"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2.5"
								/>
								<line
									id="Line_1"
									data-name="Line 1"
									x2="44"
									transform="translate(0.253 17.434)"
									fill="none"
									stroke="#0a2440"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2.5"
								/>
								<line
									id="Line_2"
									data-name="Line 2"
									y2="9"
									transform="translate(12.253 0.434)"
									fill="none"
									stroke="#0a2440"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2.5"
								/>
								<line
									id="Line_3"
									data-name="Line 3"
									y2="9"
									transform="translate(32.253 0.434)"
									fill="none"
									stroke="#0a2440"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2.5"
								/>
								<circle
									id="Ellipse_271"
									data-name="Ellipse 271"
									cx="3"
									cy="3"
									r="3"
									transform="translate(19.253 26.434)"
									fill="#99a8bc"
								/>
								<circle
									id="Ellipse_272"
									data-name="Ellipse 272"
									cx="3"
									cy="3"
									r="3"
									transform="translate(30.253 26.434)"
									fill="#99a8bc"
								/>
							</g>
						</g>
						<g
							id="Group_73921"
							data-name="Group 73921"
							transform="translate(35.711 32.891)"
						>
							<g
								id="Ellipse_288"
								data-name="Ellipse 288"
								transform="translate(0.18 0.06)"
								fill="#fff"
								stroke="#0a2440"
								stroke-width="2.5"
							>
								<circle cx="15" cy="15" r="15" stroke="none" />
								<circle cx="15" cy="15" r="13.75" fill="none" />
							</g>
							<path
								id="Path_6619"
								data-name="Path 6619"
								d="M0,0H18.39V18.39H0Z"
								transform="translate(5.181 6.061)"
								fill="none"
							/>
							<g id="close" transform="translate(-0.523 -0.219)">
								<line
									id="Line_40"
									data-name="Line 40"
									x1="8"
									y2="8"
									transform="translate(11.704 11.279)"
									fill="none"
									stroke="#ff0d0d"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2.5"
								/>
								<line
									id="Line_41"
									data-name="Line 41"
									x2="8"
									y2="8"
									transform="translate(11.704 11.279)"
									fill="none"
									stroke="#ff0d0d"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2.5"
								/>
							</g>
						</g>
					</g>
				</g>
			</svg>
		</div>
		<div class="text">Appointment cancelled successfully</div>
	</div>
	<div class="shape-container">
		<div class="shape">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				width="440"
				height="130"
				viewBox="0 0 440 130"
			>
				<defs>
					<clipPath id="clip-path">
						<rect
							id="popup-bg"
							width="438"
							height="128"
							rx="8"
							transform="translate(1411 431)"
							fill="#f7f8fa"
							stroke="#fafafa"
							stroke-width="1"
						/>
					</clipPath>
					<filter
						id="Ellipse_280"
						x="-120"
						y="63"
						width="230"
						height="230"
						filterUnits="userSpaceOnUse"
					>
						<feOffset dy="2" input="SourceAlpha" />
						<feGaussianBlur stdDeviation="3" result="blur" />
						<feFlood flood-color="#e3ebf5" flood-opacity="0.702" />
						<feComposite operator="in" in2="blur" />
						<feComposite in="SourceGraphic" />
					</filter>
					<filter
						id="Ellipse_281"
						x="371"
						y="-162"
						width="230"
						height="230"
						filterUnits="userSpaceOnUse"
					>
						<feOffset dy="2" input="SourceAlpha" />
						<feGaussianBlur stdDeviation="3" result="blur-2" />
						<feFlood flood-color="#e3ebf5" flood-opacity="0.702" />
						<feComposite operator="in" in2="blur-2" />
						<feComposite in="SourceGraphic" />
					</filter>
				</defs>
				<g id="Shapes-card" transform="translate(-1410 -430)">
					<g
						id="popup-bg-2"
						data-name="popup-bg"
						transform="translate(1410 430)"
						fill="#f7f8fa"
						stroke="#cfdae8"
						stroke-width="1"
					>
						<rect width="440" height="130" rx="8" stroke="none" />
						<rect
							x="0.5"
							y="0.5"
							width="439"
							height="129"
							rx="7.5"
							fill="none"
						/>
					</g>
					<g
						id="Mask_Group_9"
						data-name="Mask Group 9"
						clip-path="url(#clip-path)"
					>
						<g
							transform="matrix(1, 0, 0, 1, 1410, 430)"
							filter="url(#Ellipse_280)"
						>
							<circle
								id="Ellipse_280-2"
								data-name="Ellipse 280"
								cx="106"
								cy="106"
								r="106"
								transform="translate(-111 70)"
								fill="#fff"
							/>
						</g>
						<g
							transform="matrix(1, 0, 0, 1, 1410, 430)"
							filter="url(#Ellipse_281)"
						>
							<circle
								id="Ellipse_281-2"
								data-name="Ellipse 281"
								cx="106"
								cy="106"
								r="106"
								transform="translate(380 -155)"
								fill="#fff"
							/>
						</g>
					</g>
				</g>
			</svg>
		</div>

		<div class="d-flex button-container aic">
			<div class="button-text">
				Would you like to assign this slot to a new patient?
			</div>
			<div class="button">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					width="164"
					height="94"
					viewBox="0 0 164 94"
				>
					<defs>
						<filter
							id="Rectangle_2714"
							x="0"
							y="0"
							width="164"
							height="94"
							filterUnits="userSpaceOnUse"
						>
							<feOffset dy="3" input="SourceAlpha" />
							<feGaussianBlur stdDeviation="8" result="blur" />
							<feFlood
								flood-color="#00b074"
								flood-opacity="0.251"
							/>
							<feComposite operator="in" in2="blur" />
							<feComposite in="SourceGraphic" />
						</filter>
					</defs>
					<g id="button" transform="translate(24 21)">
						<g
							transform="matrix(1, 0, 0, 1, -24, -21)"
							filter="url(#Rectangle_2714)"
						>
							<rect
								id="Rectangle_2714-2"
								data-name="Rectangle 2714"
								width="116"
								height="46"
								rx="12"
								transform="translate(24 21)"
								fill="#00b074"
							/>
						</g>
						<g
							id="Group_73719"
							data-name="Group 73719"
							transform="translate(33 12)"
						>
							<text
								id="Yes"
								transform="translate(25 16)"
								fill="#fff"
								font-size="16"
								font-family="Avenir-Heavy, Avenir"
								font-weight="800"
								letter-spacing="0.002em"
							>
								<tspan x="-12" y="0">Yes</tspan>
							</text>
						</g>
					</g>
				</svg>
			</div>
		</div>
	</div>
</div>
