* {
	font-family: 'normal';
}
html,
body {
	height: 100%;
	overflow-x: hidden;
}

.page {
	background: #f5f6fa;
	padding: 30px;
}

.page-content {
	background: #ffffff 0% 0% no-repeat padding-box;
	border-radius: 16px;
	padding: 20px 30px;
}

.aic {
	align-items: center;
}

.jcc {
	justify-content: center;
}

.bold {
	font-family: bold;
}
