<div class="form-group">
	<label>Department</label>
	<input
		#form
		(keyup.enter)="save()"
		[(ngModel)]="name"
		type="text"
		class="form-control"
	/>
</div>

<div class="d-flex w-100 aic jcc">
	<!-- button  -->
	<div
		(click)="save()"
		[class.isProcessing]="isProcessing === true"
		[class.isComplete]="isProcessing === 'complete'"
		class="d-flex"
	>
		<button
			[disabled]="name === ''"
			[class.btn-disabled]="name === ''"
			class="btn btn-add btn-lg w-100"
		>
			<span *ngIf="isProcessing === 'complete'">
				<i-feather name="check"></i-feather>
			</span>
			<span *ngIf="!isProcessing"> Save </span>

			<div
				style="color: var(--accent) !important"
				*ngIf="isProcessing === true"
				class="spinner-border text-success"
				role="status"
			></div>
		</button>
	</div>
	<!-- button  -->
	<button (click)="closeModal()" class="btn btn-cancel ml-2 btn-lg">Cancel</button>
</div>
