<div class="row body">
	<div class="col-md-3">
		<div class="upload-photo d-flex jcc aic">
			<img
				role="button"
				src="../../../assets/app/patients/male.jpg"
				alt=""
			/>
			<span class="upload-photo-btn" role="button">Upload Photo</span>
		</div>
	</div>
	<div class="col-md-8 container-wrapper">
		<input type="text" placeholder="Name" class="form-control" />
		<input type="text" placeholder="Profession" class="form-control" />
		<input type="text" placeholder="Specialties" class="form-control" />
		<input
			type="text"
			placeholder="Years Of Experience"
			class="form-control"
		/>
	</div>

	<div class="col-md-12">
		<div class="separator"></div>
	</div>

	<div class="col-md-12">
		<label for="">About</label>
		<textarea placeholder="Aa" type="text" class="form-control"></textarea>
	</div>

	<div class="col-md-3">
		<label for="">Phone</label>
		<input
			type="text"
			class="form-control custom-form"
			placeholder="+971 00 000 0000"
		/>
	</div>

	<div class="col-md-3">
		<label for="">Email</label>
		<input
			type="text"
			class="form-control custom-form"
			placeholder="info@gmail.com"
		/>
	</div>

	<div class="col-md-12">
		<label for="">Working Schedule</label>
		<app-working-schedule></app-working-schedule>

		<div class="d-flex aic mt-4 mb-5">
			<span>
				<span class="circle active"></span>
				<span class="text-available mr-2">Available</span>
			</span>

			<span>
				<span class="circle"></span>
				<span class="text-available">Not Available</span>
			</span>
		</div>
	</div>
</div>

.
