.container-wrapper {
	padding: 26px 105px;
	padding-right: 327px;
}

.upload-photo {
	flex-direction: column;
	padding-left: 125px;
	img {
		width: 206px;
		height: 206px;
		border-radius: 50%;
		border: 1px solid #f5f6fa;
	}
	span {
		text-align: center;
		letter-spacing: 0.03px;
		color: #6f7d8f;
		opacity: 1;
		font-size: 16px;
		margin-top: 10px;
	}
	.upload-photo-btn {
		word-break: keep-all;
		text-align: center;
		letter-spacing: 0.03px;
		color: #6f7d8f;
	}
}

.body {
	padding: 0 40px;
}

label {
	text-align: left;
	letter-spacing: 0.03px;
	color: #6f7d8f;
	text-transform: capitalize;
	opacity: 1;
	font-family: normal;
}

textarea {
	height: 148px !important;
	background: #ffffff 0% 0% no-repeat padding-box;
	border-radius: 12px;
}

.custom-form {
	border-radius: 12px;
	font-family: bold;
}
