.container-wrapper {
	padding: 26px 105px;
	padding-right: 327px;
}

.upload-photo {
	flex-direction: column;
	padding-left: 125px;
	img {
		width: 206px;
		height: 206px;
		border-radius: 50%;
		border: 1px solid #f5f6fa;
	}
	span {
		text-align: center;
		letter-spacing: 0.03px;
		color: #6f7d8f;
		opacity: 1;
		font-size: 16px;
		margin-top: 10px;
	}
	.upload-photo-btn {
		word-break: keep-all;
		text-align: center;
		letter-spacing: 0.03px;
		color: #6f7d8f;
	}
}

.body {
	padding: 0 40px;
}

label {
	text-align: left;
	letter-spacing: 0.03px;
	color: #6f7d8f;
	text-transform: capitalize;
	opacity: 1;
	font-family: normal;
}

textarea {
	height: 148px !important;
	background: #ffffff 0% 0% no-repeat padding-box;
	border-radius: 12px;
}

.custom-form {
	border-radius: 12px;
	font-family: bold;
}

.text-available {
	font-size: 0.8rem;
	text-align: left;
	letter-spacing: 0.03px;
	color: #6f7d8f;
	text-transform: capitalize;
	opacity: 1;
	margin-top: 18px;
}

.active {
	width: 10px !important;
	height: 10px !important;
	background: #00b074 0% 0% no-repeat padding-box !important;
	border-radius: 50% !important;
	cursor: pointer !important;
	margin-right: 6px !important;
}

.circle {
	width: 10px;
	height: 10px;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	border-radius: 50%;
	cursor: pointer;
	margin-right: 6px;
}
