.row {
	padding: 30px 40px;
}

.label {
	letter-spacing: 0.03px;
	color: #6f7d8f;
}

.description {
	letter-spacing: 0.19px;
	color: #0a2440;
	margin-bottom: 47px;
	font-family: bold;
}

.shape-wrapper {
	position: relative;
	margin-bottom: 29px;
	.shape-container {
		position: absolute;
	}
}

.btn-container {
	margin-left: -20px;
	.cancel {
		cursor: pointer;
		margin-top: -50px;
	}
	.re-schedule {
		margin-top: -57px;
		margin-right: 20px;
		cursor: pointer;
	}
	.re-assign {
		margin-top: -57px;
		margin-right: 20px;
		cursor: pointer;
	}
}
