<div class="row">
	<div class="col-md-6">
		<div class="label">Date & Time</div>
		<div class="description">10 Dec, 11:30 AM - 12:00 PM</div>
	</div>

	<div class="col-md-6">
		<div class="label">Status</div>
		<span class="d-flex aic description">
			<app-status [active]="true"></app-status>
			Confirmed
		</span>
	</div>

	<div class="col-md-6">
		<div class="label">Doctor</div>
		<div class="description">Dr. Zaire Sultan</div>
	</div>

	<div class="col-md-6">
		<div class="label">Type</div>
		<div class="description">Returning Patient</div>
	</div>

	<div class="col-md-6">
		<div class="label">Booking Ref.</div>
		<div class="description">AA586468870</div>
	</div>

	<div class="col-md-6">
		<div class="label">Consultation Fee</div>
		<div class="description">250 AED</div>
	</div>

	<div class="col-md-12 shape-wrapper">
		<div class="shape-container">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				width="440"
				height="200"
				viewBox="0 0 440 200"
			>
				<defs>
					<clipPath id="clip-path">
						<rect
							id="popup-bg"
							width="438"
							height="198"
							rx="8"
							transform="translate(1411 401)"
							fill="#f7f8fa"
							stroke="#fafafa"
							stroke-width="1"
						/>
					</clipPath>
					<filter
						id="Ellipse_280"
						x="-120"
						y="93"
						width="230"
						height="230"
						filterUnits="userSpaceOnUse"
					>
						<feOffset dy="2" input="SourceAlpha" />
						<feGaussianBlur stdDeviation="3" result="blur" />
						<feFlood flood-color="#e3ebf5" flood-opacity="0.702" />
						<feComposite operator="in" in2="blur" />
						<feComposite in="SourceGraphic" />
					</filter>
					<filter
						id="Ellipse_281"
						x="371"
						y="-132"
						width="230"
						height="230"
						filterUnits="userSpaceOnUse"
					>
						<feOffset dy="2" input="SourceAlpha" />
						<feGaussianBlur stdDeviation="3" result="blur-2" />
						<feFlood flood-color="#e3ebf5" flood-opacity="0.702" />
						<feComposite operator="in" in2="blur-2" />
						<feComposite in="SourceGraphic" />
					</filter>
				</defs>
				<g id="Shapes-card" transform="translate(-1410 -400)">
					<g
						id="popup-bg-2"
						data-name="popup-bg"
						transform="translate(1410 400)"
						fill="#f7f8fa"
						stroke="#cfdae8"
						stroke-width="1"
					>
						<rect width="440" height="200" rx="8" stroke="none" />
						<rect
							x="0.5"
							y="0.5"
							width="439"
							height="199"
							rx="7.5"
							fill="none"
						/>
					</g>
					<g
						id="Mask_Group_9"
						data-name="Mask Group 9"
						clip-path="url(#clip-path)"
					>
						<g
							transform="matrix(1, 0, 0, 1, 1410, 400)"
							filter="url(#Ellipse_280)"
						>
							<circle
								id="Ellipse_280-2"
								data-name="Ellipse 280"
								cx="106"
								cy="106"
								r="106"
								transform="translate(-111 100)"
								fill="#fff"
							/>
						</g>
						<g
							transform="matrix(1, 0, 0, 1, 1410, 400)"
							filter="url(#Ellipse_281)"
						>
							<circle
								id="Ellipse_281-2"
								data-name="Ellipse 281"
								cx="106"
								cy="106"
								r="106"
								transform="translate(380 -125)"
								fill="#fff"
							/>
						</g>
					</g>
				</g>
			</svg>
		</div>
		<div class="row col-md-12">
			<div class="col-md-4">
				<div class="label">Patient Name</div>
				<div class="description">Rafiq Sadri</div>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-2">
				<div class="label">Sex</div>
				<div class="description">Male</div>
			</div>
			<div class="col-md-2">
				<div class="label">Age</div>
				<div class="description">25</div>
			</div>

			<div class="col-md-12">
				<div class="description underlined">Contact Details</div>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="description">Make changes to this appointment</div>

		<div class="d-flex btn-container aic">
			<span (click)="cancelSchedule(header, body)" class="cancel">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					width="164"
					height="94"
					viewBox="0 0 164 94"
				>
					<defs>
						<filter
							id="Rectangle_2714"
							x="0"
							y="0"
							width="164"
							height="94"
							filterUnits="userSpaceOnUse"
						>
							<feOffset dy="3" input="SourceAlpha" />
							<feGaussianBlur stdDeviation="8" result="blur" />
							<feFlood
								flood-color="#00b074"
								flood-opacity="0.251"
							/>
							<feComposite operator="in" in2="blur" />
							<feComposite in="SourceGraphic" />
						</filter>
					</defs>
					<g id="button" transform="translate(-28 21)">
						<g
							transform="matrix(1, 0, 0, 1, 28, -21)"
							filter="url(#Rectangle_2714)"
						>
							<rect
								id="Rectangle_2714-2"
								data-name="Rectangle 2714"
								width="116"
								height="46"
								rx="12"
								transform="translate(24 21)"
								fill="#00b074"
							/>
						</g>
						<g
							id="Group_73719"
							data-name="Group 73719"
							transform="translate(17 11)"
						>
							<text
								id="Cancel"
								transform="translate(93 17)"
								fill="#fff"
								font-size="16"
								font-family="Avenir-Heavy, Avenir"
								font-weight="800"
								letter-spacing="0.002em"
							>
								<tspan x="-24" y="0">Cancel</tspan>
							</text>
						</g>
					</g>
				</svg>
			</span>
			<span (click)="reSchedule()" class="re-schedule">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="116"
					height="46"
					viewBox="0 0 116 46"
				>
					<g id="button" transform="translate(-52)">
						<g
							id="Rectangle_2714"
							data-name="Rectangle 2714"
							transform="translate(52 0)"
							fill="none"
							stroke="#00b074"
							stroke-width="1.5"
						>
							<rect
								width="116"
								height="46"
								rx="12"
								stroke="none"
							/>
							<rect
								x="0.75"
								y="0.75"
								width="114.5"
								height="44.5"
								rx="11.25"
								fill="none"
							/>
						</g>
						<g
							id="Group_73719"
							data-name="Group 73719"
							transform="translate(17 11)"
						>
							<text
								id="Reschedule"
								transform="translate(93 17)"
								fill="#00b074"
								font-size="16"
								font-family="Avenir-Heavy, Avenir"
								font-weight="800"
								letter-spacing="0.002em"
							>
								<tspan x="-42" y="0">Reschedule</tspan>
							</text>
						</g>
					</g>
				</svg>
			</span>
			<span (click)="reAssign()" class="re-assign">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="116"
					height="46"
					viewBox="0 0 116 46"
				>
					<g id="button" transform="translate(-52)">
						<g
							id="Rectangle_2714"
							data-name="Rectangle 2714"
							transform="translate(52 0)"
							fill="none"
							stroke="#00b074"
							stroke-width="1.5"
						>
							<rect
								width="116"
								height="46"
								rx="12"
								stroke="none"
							/>
							<rect
								x="0.75"
								y="0.75"
								width="114.5"
								height="44.5"
								rx="11.25"
								fill="none"
							/>
						</g>
						<g
							id="Group_73719"
							data-name="Group 73719"
							transform="translate(17 11)"
						>
							<text
								id="Reassign"
								transform="translate(93 17)"
								fill="#00b074"
								font-size="16"
								font-family="Avenir-Heavy, Avenir"
								font-weight="800"
								letter-spacing="0.002em"
							>
								<tspan x="-32" y="0">Reassign</tspan>
							</text>
						</g>
					</g>
				</svg>
			</span>
		</div>
	</div>
</div>

<ng-template #header>
	<div>CONFIRMATION</div>
</ng-template>
<ng-template #body>
	<app-appointment-cancellation-body></app-appointment-cancellation-body>
</ng-template>
