.outer {
	width: 22px;
	height: 22px;
	background: rgba($color: #fe4b39, $alpha: 0.1) 0% 0% no-repeat padding-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inner {
	width: 8px;
	height: 8px;
	background: #fe4b39 0% 0% no-repeat padding-box;
	opacity: 1;
}

.active {
	width: 22px;
	height: 22px;
	background: rgba($color: #0db354, $alpha: 0.1) 0% 0% no-repeat padding-box;
	opacity: 1;
	align-items: center;
	justify-content: center;
	.inner {
		width: 8px;
		height: 8px;
		background: #0db354 0% 0% no-repeat padding-box;
		opacity: 1;
	}
}

* {
	border-radius: 50%;
}
