<ng-template #component>
	<toolbar-dashboard></toolbar-dashboard>
</ng-template>

<home-toolbar [component]="component"></home-toolbar>

<div class="page">
	<div class="page-content">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Date</th>
					<th>Time</th>
					<th>Patient</th>
					<th>Doctor</th>
					<th>Type</th>
					<th>Status</th>
					<th>Booking Ref.</th>
					<th></th>
				</tr>
			</thead>
			<tbody [@listAnimation]="appointments.length">
				<tr *ngFor="let appointment of appointments; let i = index">
					<td>{{ appointment.date | date: 'dd, MMMM' }}</td>
					<td>{{ appointment.time }}</td>
					<td>{{ resolveName(appointment.patient) }}</td>
					<td>{{ appointment.doctor.name }}</td>
					<td>{{ appointment.appointment_type }}t</td>
					<td class="d-flex aic">
						<app-status [active]="appointment.status"></app-status>
						{{ appointment.status | titlecase }}
					</td>
					<td>{{ appointment.booking_reference | uppercase }}</td>
					<td>
						<span class="underlined">Details</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<ng-template #header>
	<div style="font-family: bold; font-size: 16px; color: var(--color1)">
		Appointment Details
	</div>
</ng-template>

<ng-template #body>
	<appointment-details-body></appointment-details-body>
</ng-template>

<ng-template #footer> </ng-template>
