<ng-template #component>
	<toolbar-dashboard></toolbar-dashboard>
</ng-template>

<home-toolbar [component]="component"></home-toolbar>

<div class="page">
	<div class="page-content">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Date</th>
					<th>Time</th>
					<th>Patient</th>
					<th>Doctor</th>
					<th>Type</th>
					<th>Status</th>
					<th>Booking Ref.</th>
					<th></th>
				</tr>
			</thead>
			<tbody [@listAnimation]="appointments.length">
				<tr *ngFor="let appointment of appointments; let i = index">
					<td>{{ appointment.date | date: 'dd, MMMM' }}</td>
					<td>{{ appointment.time }}</td>
					<td>
						<a
							class="underlined"
							[routerLink]="'/home/patients/information/' + appointment.patient.id"
						>
							{{ resolveName(appointment.patient) }}
						</a>
					</td>
					<td class="underlined">
						<modal
							[button]="manageBtn"
							[component]="doctorDetails"
							[title]="'Dr. ' + appointment.doctor.name"
							type="Right"
						>
						</modal>
						<ng-template #doctorDetails>
							<DoctorDetails [doctor]="appointment.doctor"></DoctorDetails>
						</ng-template>
						<ng-template #manageBtn>
							<a>Dr. {{ appointment.doctor.name }} </a>
						</ng-template>
					</td>
					<td>{{ appointment.appointment_type | titlecase }}</td>
					<td class="d-flex aic">
						<app-status [active]="appointment.status"></app-status>
						{{ appointment.status | titlecase }}
					</td>
					<td>{{ appointment.booking_reference | uppercase }}</td>
					<td>
						<modal
							[button]="button"
							title="Appointment Details"
							[component]="body"
							type="Right"
						></modal>

						<ng-template #body>
							<AppointmentDetails [appointment]="appointment"></AppointmentDetails>
						</ng-template>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<ng-template #button>
	<span class="underlined">Details</span>
</ng-template>
