<div class="working-schedule d-flex">
	<div class="container d-flex aic jcc">
		<span class="day">Mon</span>
		<div *ngIf="Mon" class="active"></div>
		<div *ngIf="!Mon" class="circle"></div>
	</div>

	<div class="container d-flex aic jcc">
		<span class="day">Tue</span>
		<div *ngIf="Tue" class="active"></div>
		<div *ngIf="!Tue" class="circle"></div>
	</div>

	<div class="container d-flex aic jcc">
		<span class="day">Wed</span>
		<div *ngIf="Wed" class="active"></div>
		<div *ngIf="!Wed" class="circle"></div>
	</div>

	<div class="container d-flex aic jcc">
		<span class="day">Thu</span>
		<div *ngIf="Thu" class="active"></div>
		<div *ngIf="!Thu" class="circle"></div>
	</div>

	<div class="container d-flex aic jcc">
		<span class="day">Fri</span>
		<div *ngIf="Fri" class="active"></div>
		<div *ngIf="!Fri" class="circle"></div>
	</div>

	<div class="container d-flex aic jcc">
		<span class="day">Sat</span>
		<div *ngIf="Sat" class="active"></div>
		<div *ngIf="!Sat" class="circle"></div>
	</div>

	<div class="container d-flex aic jcc">
		<span class="day">Sun</span>
		<div *ngIf="Sun" class="active"></div>
		<div *ngIf="!Sun" class="circle"></div>
	</div>
</div>
