<div class="row w-100 mt-5 pt-5">
	<div
		class="col-md-6 d-flex aic jcc"
		style="height: inherit; flex-direction: column"
	>
		<h1 class="placeholder-title text-center mt-5">
			Hi {{ name || '' }}! <br />
			we have no scheduled <br />
			appointments for today!
		</h1>
		<modal
			[button]="button"
			[component]="body"
			title="New Appointment"
			type="Right"
		></modal>
	</div>
	<div class="col-md-6">
		<img
			class="mt-4"
			style="height: 35vh"
			src=".../../../../../../assets/app/placeholders/appoiintment.svg"
			alt=""
		/>
	</div>
</div>

<ng-template #button>
	<button class="btn btn-add btn-lg mt-5">Add an appointment</button>
</ng-template>

<ng-template #body>
	<app-new-appointment-modal-body></app-new-appointment-modal-body>
</ng-template>
