.wrapper {
	position: relative;
	.dropdown-menu1 {
		position: absolute;
		z-index: 9999;
		left: calc(-100% - 12rem / 2.2);
		min-width: 10rem;
		margin-top: 1rem;
		font-size: 1rem;
		color: #6e6b7b;
		text-align: left;
		background-color: var(--bg1);
		border: 1px solid var(--border1);
		width: 12rem;
		box-shadow: 0 5px 25px rgb(34 41 47 / 10%);
	}
}
.hidden {
	visibility: hidden;
}
