.delete {
	background: #f3636c;
	color: white;
	border-radius: 50%;
	height: 2rem;
	width: 2rem;
	padding: 0.6rem;
	transition: 0.2s linear;
	&:hover {
		transform: scale(1.1);
	}
	cursor: pointer;
}

.edit {
	background: var(--accent);
	color: white;
	border-radius: 50%;
	height: 2rem;
	width: 2rem;
	padding: 0.6em;
	transition: 0.2s linear;
	&:hover {
		transform: scale(1.1);
	}
	cursor: pointer;
}

.feather {
	height: 2rem;
}
td {
	padding: 1rem;
	border-bottom: 1px solid var(--border1);
}

.header {
	font-size: 1.4rem;
	color: var(--color1);
	border-bottom: 6px solid var(--accent);
	width: 212px;
}
