.header {
	background: #ffffff 0% 0% no-repeat padding-box;
	width: 100%;
	.clinic-promotion {
		letter-spacing: 0.05px;
		color: #0a2440;
		text-transform: capitalize;
		opacity: 1;
		font-size: 25px;
	}
	.view-statistic {
		margin-left: auto;
		text-align: left;
		letter-spacing: 0.03px;
		color: #0472ff;
		text-transform: capitalize;
		opacity: 1;
	}
}

.upload-clinic {
	height: 602px;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border: 1px solid #cfdae8;
	border-radius: 15px;
	margin-top: 9px;
}

.label {
	letter-spacing: 0.04px;
	color: #252525;
	text-transform: capitalize;
	font-size: 22px;
	font-family: bold;
	margin-top: 16px;
	margin-bottom: 10px;
}

.clinic-name-input {
	height: 45px;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border: 0.5px solid #cfdae8;
	border-radius: 5px;
	opacity: 1;
	border: none;
	outline: none !important;
	padding: 11px;
	margin-bottom: 17px;
}

.highlights {
	height: 199px;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border: 0.5px solid #cfdae8;
	border-radius: 5px;
	padding: 11px;
	border: none;
	outline: none !important;
}
