@use '../../styles/variables.scss' as screen;

@media only screen and (max-width: screen.$mobile) {
	.overlay {
		background-size: screen.$mobile 100%;
	}
	h1 {
		font-size: 20px;
		padding: 0;
		padding-right: 0;
		text-align: center;
		color: var(--color2);
	}

	.tag-line {
		display: block;
		margin: 0;
		margin-top: -20px;
		font-family: bold;
		margin-bottom: 2rem;
		transform: translateX(-1rem);
	}

	.left {
		display: none;
	}

	.right {
		padding: 0 0;
		.login-container {
			border-radius: 0;
			width: screen.$mobile 100%;
			height: calc(100vh - 5vh);
			box-shadow: none;
			padding: 0 2rem;
		}
		.logo {
			width: 159px;
			height: 159px;
			margin: 0 auto;
			margin-bottom: 41px;
			transform: translateX(-1rem);
		}
		input {
			box-shadow: none;
			border-radius: 5px;
			margin-bottom: 1rem;
			border: none;
			margin-left: -1rem;
			width: calc(100% - 2rem);
		}
		.forgot-password {
			margin-right: 30px;
			margin-top: 0.5rem;
			width: calc(100% - 3rem);
		}

		.btn {
			box-shadow: none;
			border-radius: 30px;
			margin-top: 2rem;
			align-self: center;
			width: calc(100% - 3rem);
			justify-content: center;
			margin-left: 0;
			font-family: bold;
		}
	}

	.col,
	.row {
		padding: 0;
		margin: 0;
	}
	.row {
		width: 100vw;
		position: relative;
	}
}
