.overlay {
	background: url('../../../assets/app/login/bg.jpg');
	background-size: 100% 100%;
	height: calc(100vh - 10vh + 20px);
	width: 100%;
	position: fixed;
}
h1 {
	color: white;
	font-size: 91px;
	padding: 30vh 10vw;
	padding-right: 0;
}

.right {
	padding: 10vh 10vw;
	.login-container {
		border-radius: 25px;
		width: 550px;
		height: 673px;
		display: flex;
		flex-direction: column;
		padding: 51px;
		background: var(--bg1);
		box-shadow: 0px 6px 9px var(--shadow2);
		border-radius: 25px;
	}
	.logo {
		width: 159px;
		height: 159px;
		margin: 0 auto;
		margin-bottom: 41px;
	}

	input {
		background: var(--bg2);
		color: var(--color1);
		font-size: 1rem;
		box-shadow: 0px 3px 6px var(--shadow1);
		border-radius: 5px;
		margin-bottom: 27px;
		padding: 16px 23px;
		height: 66px;
		height: 66px !important;
		border: none;
	}
	.forgot-password {
		text-align: right;
		margin-top: -1rem;
		cursor: pointer;
		font-size: 18px;
		letter-spacing: 0.04px;
		color: var(--color1);
		text-transform: capitalize;
	}

	.btn {
		background: #00b074 0% 0% no-repeat padding-box;
		box-shadow: 0px 3px 6px #00000059;
		border-radius: 10px;
		opacity: 1;
		padding: 16px;
		min-width: 176px;
		color: white;
		margin: 0 auto;
		margin-top: 78px;
	}
}

.tag-line {
	display: none;
}
.touchable {
	&:hover {
		transform: scale(1.03) !important;
		transition: 0.2s;
		border-radius: 30px !important;
		box-shadow: none !important;
	}
	&:active {
		opacity: 0.5;
		transform: scale(1) !important;
	}
}
