.jumbotron {
	min-height: 113vh;
}
.overlay {
	background: url('../../../assets/app/login/bg.jpg');
	background-size: 100% 100%;
	height: calc(100vh - 10vh + 20px);
	width: 100%;
	position: absolute;
}

.root {
	background: var(--bg1);
}

.features {
	background: var(--page1);
}

h2 {
	color: var(--accent);
}
