<login-nav></login-nav>
<div class="overlay"></div>
<div class="row p-0 m-0" style="position: fixed">
	<div class="col-md-6 left">
		<h1>Helping people for better health.</h1>
	</div>
	<div class="col-md-6 right">
		<div class="login-container">
			<div class="h1">Howdy!</div>
			<p class="text-center text-muted">
				Sign-in with your mawedy account.
			</p>
			<div class="form-group mt-3">
				<input
					#username
					[(ngModel)]="data.username"
					type="text"
					class="form-control"
					placeholder="Password"
				/>
			</div>
			<div class="form-group mt-3">
				<input
					[(ngModel)]="data.password"
					(keyup.enter)="login()"
					type="password"
					class="form-control"
					placeholder="Username"
				/>
			</div>

			<div
				(click)="login()"
				[class.isProcessing]="isProcessing === true"
				[class.isComplete]="isProcessing === 'complete'"
				class="d-flex mt-3"
			>
				<button class="btn primary-button w-100">
					<span *ngIf="isProcessing === 'complete'">
						<i-feather name="check"></i-feather>
					</span>
					<span *ngIf="!isProcessing"> Yallah! Sign-in</span>

					<div
						style="color: var(--accent) !important"
						*ngIf="isProcessing === true"
						class="spinner-border text-success"
						role="status"
					></div>
				</button>
			</div>
			<div class="d-flex w-10">
				<a class="link w-100">Forgot Password?</a>
			</div>
		</div>
	</div>
</div>
