<div class="row">
	<div class="col-md-6">
		<div class="label">Date & Time</div>
		<div class="description">
			{{ appointment.date | date: 'dd MMM' }}, {{ appointment.time }}
		</div>
	</div>

	<div class="col-md-6">
		<div class="label">Status</div>
		<span class="d-flex aic description">
			<app-status [active]="appointment.status"></app-status>

			{{ appointment.status | titlecase }}
		</span>
	</div>

	<div class="col-md-6">
		<div class="label">Doctor</div>
		<div class="description">Dr. {{ appointment.doctor.name }}</div>
	</div>

	<div class="col-md-6">
		<div class="label">Type</div>
		<div class="description">{{ appointment.appointment_type | titlecase }}</div>
	</div>

	<div class="col-md-6">
		<div class="label">Booking Ref.</div>
		<div class="description">{{ appointment.booking_reference | uppercase }}</div>
	</div>

	<div class="col-md-12 shape-wrapper">
		<div class="shape-container">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				width="440"
				height="200"
				viewBox="0 0 440 200"
			>
				<defs>
					<clipPath id="clip-path">
						<rect
							id="popup-bg"
							width="438"
							height="198"
							rx="8"
							transform="translate(1411 401)"
							fill="#f7f8fa"
							stroke="#fafafa"
							stroke-width="1"
						/>
					</clipPath>
					<filter
						id="Ellipse_280"
						x="-120"
						y="93"
						width="230"
						height="230"
						filterUnits="userSpaceOnUse"
					>
						<feOffset dy="2" input="SourceAlpha" />
						<feGaussianBlur stdDeviation="3" result="blur" />
						<feFlood flood-color="#e3ebf5" flood-opacity="0.702" />
						<feComposite operator="in" in2="blur" />
						<feComposite in="SourceGraphic" />
					</filter>
					<filter
						id="Ellipse_281"
						x="371"
						y="-132"
						width="230"
						height="230"
						filterUnits="userSpaceOnUse"
					>
						<feOffset dy="2" input="SourceAlpha" />
						<feGaussianBlur stdDeviation="3" result="blur-2" />
						<feFlood flood-color="#e3ebf5" flood-opacity="0.702" />
						<feComposite operator="in" in2="blur-2" />
						<feComposite in="SourceGraphic" />
					</filter>
				</defs>
				<g id="Shapes-card" transform="translate(-1410 -400)">
					<g
						id="popup-bg-2"
						data-name="popup-bg"
						transform="translate(1410 400)"
						fill="#f7f8fa"
						stroke="#cfdae8"
						stroke-width="1"
					>
						<rect width="440" height="200" rx="8" stroke="none" />
						<rect x="0.5" y="0.5" width="439" height="199" rx="7.5" fill="none" />
					</g>
					<g id="Mask_Group_9" data-name="Mask Group 9" clip-path="url(#clip-path)">
						<g transform="matrix(1, 0, 0, 1, 1410, 400)" filter="url(#Ellipse_280)">
							<circle
								id="Ellipse_280-2"
								data-name="Ellipse 280"
								cx="106"
								cy="106"
								r="106"
								transform="translate(-111 100)"
								fill="#fff"
							/>
						</g>
						<g transform="matrix(1, 0, 0, 1, 1410, 400)" filter="url(#Ellipse_281)">
							<circle
								id="Ellipse_281-2"
								data-name="Ellipse 281"
								cx="106"
								cy="106"
								r="106"
								transform="translate(380 -125)"
								fill="#fff"
							/>
						</g>
					</g>
				</g>
			</svg>
		</div>
		<div class="row col-md-12">
			<div class="col-md-4">
				<div class="label">Patient Name</div>
				<div class="description">{{ resolveName(appointment.patient) }}</div>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-2">
				<div class="label">Sex</div>
				<div class="description">
					{{ appointment.patient.sex === 'M' ? 'Male' : 'Female' }}
				</div>
			</div>
			<div class="col-md-2">
				<div class="label">Age</div>
				<div class="description">{{ resolveAge(appointment.patient) }}</div>
			</div>

			<div class="col-md-12">
				<div class="label">Contact Details</div>
				<div class="description underlined">
					{{ 'N/A' }}
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="description">Make changes to this appointment</div>

		<div class="d-flex btn-container aic">
			<span class="cancel"> </span>
			<span class="re-schedule"> </span>
		</div>
	</div>
</div>

<ng-template #timeSlot>
	<select-time-slot-component></select-time-slot-component>
</ng-template>

<ng-template #header>
	<div>CONFIRMATION</div>
</ng-template>
<ng-template #body>
	<app-appointment-cancellation-body></app-appointment-cancellation-body>
</ng-template>
