.blur-modal {
	width: 580px;
	position: fixed;
	height: 100%;
	right: 0;
	top: 0;
	z-index: 11;
	backdrop-filter: blur(25px);
	padding: 70px;
	display: flex;
	flex-direction: column-reverse;
	background: var(--bg5);
}
.blur-modal {
	width: 580px;
	position: fixed;
	height: 100%;
	right: 0;
	top: 0;
	z-index: 11;
	padding: 70px;
	display: flex;
	flex-direction: column;
	backdrop-filter: blur(21px);
}
