<div class="back-drop" [@content]>
	<right-large-modal
		*ngIf="type === 'Right'"
		[header]="header"
		[body]="body"
		[footer]="footer"
	></right-large-modal>

	<center-large-modal
		*ngIf="type === 'Center Large'"
		[header]="header"
		[body]="body"
		[footer]="footer"
	></center-large-modal>

	<center-medium-modal
		*ngIf="type === 'Center Medium'"
		[header]="header"
		[body]="body"
		[footer]="footer"
	></center-medium-modal>

	<center-small-modal
		*ngIf="type === 'Center Small'"
		[header]="header"
		[body]="body"
	>
	</center-small-modal>

	<!-- Confirm Modal  -->

	<confirm-modal
		*ngIf="type === 'Confirm'"
		[firstLine]="firstLine"
		[secondLine]="secondLine"
		[onCLose]="onCLose"
		[onSubmit]="onSubmit"
	></confirm-modal>
</div>
