<ng-template #component>
	<toolbar-appointments></toolbar-appointments>
</ng-template>

<home-toolbar [component]="component"></home-toolbar>
<div class="page">
	<div class="page-content">
		<div class="calendar-container">
			<div class="weekdays">
				<div *ngFor="let day of weekdays">{{ day }}</div>
			</div>

			<div class="days">
				<!-- Last Month -->
				<div
					routerLink="/home/appointments/day"
					class="day disabled-date"
					*ngFor="let day of previousDays"
				>
					<div class="day-number">
						{{ day }}
					</div>
				</div>

				<!-- This Month -->
				<div
					routerLink="/home/appointments/day"
					[class.active]="today === day"
					class="day"
					*ngFor="let day of days"
				>
					<div class="d-flex">
						<div *ngIf="today === day" class="badge badge-success">
							Today
						</div>
						<div class="day-number">
							{{ day }}
						</div>
					</div>

					<div class="calendar-badge">
						<calendar-badge-month
							type="Clinic"
						></calendar-badge-month>
					</div>
					<div class="calendar-badge">
						<calendar-badge-month
							type="Phone"
						></calendar-badge-month>
					</div>
					<div class="more">3 more</div>
				</div>

				<!-- Next Month -->
				<div
					routerLink="/home/appointments/day"
					class="day disabled-date"
					*ngFor="let day of afterDays"
				>
					<div class="day-number">
						{{ day }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
