<ng-template #component>
	<toolbar-appointments></toolbar-appointments>
</ng-template>

<home-toolbar [component]="component"></home-toolbar>

<div class="page">
	<div class="page-content">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Date</th>
					<th>Time</th>
					<th>Patient</th>
					<th>Doctor</th>
					<th>Type</th>
					<th>Status</th>
					<th>Via Promotion</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of [1, 1, 1, 1]; let i = index">
					<td>10 December</td>
					<td>10:30 AM - 11:00 AM</td>
					<td>Riyad Abdallah</td>
					<td>Dr. Hanadi Yassin</td>
					<td>Returning Patient</td>
					<td class="d-flex aic">
						<app-status
							[active]="i == 0 ? true : false"
						></app-status>
						Confirmed
					</td>
					<td>Yes</td>
					<td>
						<span class="underlined">Outreach</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
