<div class="form-group">
	<label>Department</label>
	<input
		#form
		(keyup.enter)="save()"
		[(ngModel)]="name"
		type="text"
		class="form-control"
	/>
</div>

<div class="d-flex w-100 aic jcc">
	<!-- button  -->
	<div
		(click)="save()"
		[class.isProcessing]="isProcessing === true"
		[class.isComplete]="isProcessing === 'complete'"
		class="d-flex"
	>
		<button class="btn primary-button w-100">
			<span *ngIf="isProcessing === 'complete'">
				<i-feather name="check"></i-feather>
			</span>
			<span *ngIf="!isProcessing"> Save </span>

			<div
				style="color: var(--accent) !important"
				*ngIf="isProcessing === true"
				class="spinner-border text-success"
				role="status"
			></div>
		</button>
	</div>
	<!-- button  -->
	<span role="button" class="cancel ml-4">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="116"
			height="46"
			viewBox="0 0 116 46"
		>
			<g id="button" transform="translate(-52 0)">
				<g
					id="Rectangle_2714"
					data-name="Rectangle 2714"
					transform="translate(52 0)"
					fill="none"
					stroke="var(--color2)"
					stroke-width="1.5"
				>
					<rect width="116" height="46" rx="12" stroke="none" />
					<rect
						x="0.75"
						y="0.75"
						width="114.5"
						height="44.5"
						rx="11.25"
						fill="none"
					/>
				</g>
				<g id="Group_73719" data-name="Group 73719" transform="translate(17 11)">
					<text
						id="Cancel"
						transform="translate(93 17)"
						fill="var(--color2)"
						font-size="16"
						font-family="Avenir-Heavy, Avenir"
						font-weight="800"
						letter-spacing="0.002em"
					>
						<tspan x="-24" y="0">Close</tspan>
					</text>
				</g>
			</g>
		</svg>
	</span>
</div>
