.isProcessing {
	.btn {
		background: none !important;
		border: none;
		:focus {
			outline: 0 !important;
		}
		.btn:focus {
			outline: 0 !important;
		}

		button:focus {
			outline: 0 !important;
		}
	}
}

.btn :active {
	font-size: 0.95rem;
}

.form-group {
	padding: 1rem 4rem;
}
