.footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	span {
		cursor: pointer;
	}

	.delete {
		margin-top: -7px;
	}

	.take-action {
		margin-right: auto;
		text-align: left;
		letter-spacing: 0.03px;
		color: #0a2440;
		text-transform: capitalize;
		margin-right: 133px;
		font-family: bold;
	}
}
