<ng-template #component>
	<toolbar-patients-info></toolbar-patients-info>
</ng-template>

<home-toolbar [component]="component"></home-toolbar>
<div class="page">
	<div class="page-content">
		<div class="header d-flex aic">
			<img
				role="button"
				routerLink="/home/patients/"
				src="../../../assets/app/toolbars/patients/back.png"
				alt=""
			/>
			<span style="color: var(--accent)">Patient Information</span>
		</div>

		<div class="patients-info">
			<div class="row">
				<div class="col-md-8 info">
					<div class="row section">
						<div class="col-md-8">
							<div class="label">Name</div>
							<span class="description">{{ resolveName(patient) }} </span>
						</div>
						<div class="col-md-3">
							<div class="label">Type</div>
							<span class="description">{{ patient.type }}</span>
						</div>
					</div>

					<div class="row section">
						<div class="col-md-3">
							<div class="label">Birthday</div>
							<span class="description">
								{{ patient.dob | date: 'MMMM dd, yyyy' }}
							</span>
						</div>
						<div class="col-md-5">
							<div class="label">Address</div>
							<span class="description">
								{{ patient.address }}
							</span>
						</div>
						<div class="col-md-2">
							<div class="label">City</div>
							<span class="description"> {{ patient.city }} </span>
						</div>
						<div class="col-md-2">
							<div class="label">Country</div>
							<span class="description"> {{ patient.country }} </span>
						</div>
					</div>

					<div class="row section">
						<div class="col-md-3">
							<div class="label">Age</div>
							<span class="description"> {{ resolveAge(patient.dob) }} Yr(s)</span>
						</div>
						<div class="col-md-4">
							<div class="label">Email</div>
							<span class="description"> info@gmail.com </span>
						</div>
						<div class="col-md-5">
							<div class="label">Contact</div>
							<span class="description"> +971 00 000 0000 </span>
						</div>
					</div>

					<div class="row section">
						<div class="col-md-3">
							<div class="label">Sex</div>
							<span class="description">{{
								patient.sex === 'M' ? 'Male' : 'Female'
							}}</span>
						</div>
						<div class="col-md-4">
							<div class="label">Religion</div>
							<span class="description">{{ patient.religion || 'N/A' }}</span>
						</div>
					</div>
				</div>

				<div class="col-md-4 upload-photo d-flex jcc aic">
					<img
						role="button"
						[src]="
							patient.avatars.length !== 0
								? patient.avatars[0]?.url
								: patient.sex === 'M'
								? '../../../assets/app/patients/male.jpg'
								: '../../../assets/app/patients/female.jpg'
						"
						alt=""
					/>
					<span role="button">Edit Photo</span>
				</div>
			</div>

			<patients-booking-list></patients-booking-list>
		</div>
	</div>
</div>
