.upload-photo {
	flex-direction: column;
	img {
		width: 206px;
		height: 206px;
		border-radius: 50%;
		border: 1px solid #f5f6fa;
	}
	span {
		text-align: center;
		letter-spacing: 0.03px;
		color: #6f7d8f;
		opacity: 1;
		font-size: 16px;
		margin-top: 10px;
	}
	.upload-photo-btn {
		word-break: keep-all;
		text-align: center;
		letter-spacing: 0.03px;
		color: #6f7d8f;
	}
}

.patients-container {
	padding: 20px 70px;
}
.patients-information {
	text-align: left;
	letter-spacing: 0.03px;
	color: var(--accent);
	text-transform: capitalize;
	font-size: 1.3rem;
	margin-top: 2rem;
	margin-bottom: 0.5rem;
}

.btn-active {
	width: 50px;
	height: 40px;
	background: var(--accent) 0% 0% no-repeat padding-box;
	border-radius: 5px;
	text-align: center;
	color: white;
	font-family: bold;
	border-radius: 5px;
}

.btn-ghost {
	width: 50px;
	height: 40px;
	text-align: center;
	letter-spacing: 0.19px;
	color: var(--color2);
	text-transform: capitalize;
	border: 0.5px solid var(--border1);
	border-radius: 5px;
	margin-left: 15px;
	cursor: pointer;
}
label {
	color: #6f7d8f;
	font-size: 14px;
	font-family: normal;
}
.clinic-logo-placeholder {
	height: 250px;
	border-radius: 50%;
	background: var(--bg2);
	width: 250px;
	img {
		height: 100%;
		width: 100%;
	}
	.image-icon {
		width: 5rem;
		height: 5rem;
	}
}
