.custom-modal-container {
	transition: 0.25s linear;
}
.hidden {
	visibility: hidden;
}

.back-drop {
	background: var(--modalBackdrop) 0% 0% no-repeat padding-box;
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 999999999999999999999999;
	left: 0 !important;
	top: 0;
}

.r {
	.modal-container {
		width: 580px;
		background: var(--bg3) 0% 0% no-repeat padding-box;
		position: fixed;
		height: 100%;
		right: 0;
		top: 0;
		z-index: 11;
	}

	.modal-header {
		left: 1340px;
		width: 100%;
		min-height: 70px;
		background: var(--modalHeader) 0% 0% no-repeat padding-box;
		border-radius: 2px;
		padding: 7px 70px;
		padding-right: 40px;
		padding-top: 17px;
		padding-left: 2rem;
		.close-btn {
			text-align: left;
			letter-spacing: 0.03px;
			color: #6f7d8f;
			font-size: 14px;
			font-family: normal;
			cursor: pointer;
			margin-right: 16px;
		}

		.close-button {
			cursor: pointer;
			svg {
				border: 2px solid var(--border1);
			}
		}
	}

	.modal-footer {
		border-top: 1px solid var(--bg3);
		backdrop-filter: blur(15px);
		width: 100%;
		display: flex;
		align-items: flex-end;
		margin-top: -120px;
		position: relative;
		z-index: 9;
		background: var(--bg3) 0% 0% no-repeat padding-box;
	}

	.modal-body {
		overflow-y: auto;
		padding: 1rem;
		height: calc(100vh - 50px);
		padding-bottom: 13vh;
		background: var(--bg3) 0% 0% no-repeat padding-box;
	}

	.close-button {
		svg {
			transition: 0.2s linear;
		}
		&:active {
			svg {
				transform: scale(0.9);
			}
		}
		&:hover {
			svg {
				transform: scale(1.1);
				opacity: 0.9;
			}
		}
	}
}

.cs {
	.modal-container {
		width: 500px;
		background: var(--bg3) 0% 0% no-repeat padding-box;
		z-index: 11;
		margin: auto;
		margin-top: 180px;
		border-radius: 1rem !important;
	}

	.modal-header {
		left: 1340px;
		border-top-left-radius: 16px !important;
		border-top-right-radius: 16px !important;
		width: 100%;
		height: 70px;
		background: var(--modalHeader) 0% 0% no-repeat padding-box;
		border-radius: 2px;
		padding: 21px 20px;
		padding-left: 50px;
		z-index: 100;
		.close-btn {
			text-align: left;
			letter-spacing: 0.03px;
			color: #6f7d8f;
			font-size: 14px;
			font-family: normal;
			cursor: pointer;
			margin-right: 16px;
		}

		.close-button {
			cursor: pointer;
		}
	}

	.modal-body {
		border-top-left-radius: 16px;
		border-top-right-radius: 16px;
		height: auto;
	}
	.close-button {
		svg {
			transition: 0.2s linear;
		}
		&:active {
			svg {
				transform: scale(0.9);
			}
		}
		&:hover {
			svg {
				transform: scale(1.1);
				opacity: 0.9;
			}
		}
	}
}

.modal-container {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.ghost-btn {
	&:active {
		transform: scale(0.98);
		transform-origin: center;
		transition: 0.2s linear;
	}
}
