.booking-list-container {
	margin-top: 43px;
	.header {
		margin-bottom: 17px;
		span {
			text-align: left;
			letter-spacing: 0.05px;
			color: #0a2440;
			text-transform: capitalize;
			font-size: 25px;
		}
	}
}
table {
	border-top: 1px solid var(--border1);

	* {
		font-size: 16px !important;
	}
}
tr:nth-child(even) {
	background-color: var(--trBg2) !important;
}
tr:nth-child(odd) {
	background-color: var(--table) !important;
}
