.row {
	padding: 30px 20px;
}

.label {
	letter-spacing: 0.03px;
	color: var(--color2);
}

.description {
	letter-spacing: 0.19px;
	color: var(--color1);
	margin-bottom: 47px;
	font-family: bold;
}

.shape-wrapper {
	position: relative;
	margin-bottom: 29px;
	.shape-container {
		position: absolute;
		display: var(--onlyLight);
	}
}

.btn-container {
	margin-left: -20px;
	.cancel {
		cursor: pointer;
		margin-top: -50px;
	}
	.re-schedule {
		margin-top: -57px;
		margin-right: 20px;
		cursor: pointer;
	}
	.re-assign {
		margin-top: -57px;
		margin-right: 20px;
		cursor: pointer;
	}
}
