@import url('./assets/tiny-dash-light/css/apexcharts.css');
@import url('./assets/tiny-dash-light/css/app-light.css');
@import url('./assets/tiny-dash-light/css/app-rtl.css');
@import url('./assets/tiny-dash-light/css/bootstrap-datepicker.css');
@import url('./assets/tiny-dash-light/css/dataTables.bootstrap4.css');
@import url('./assets/tiny-dash-light/css/daterangepicker.css');
@import url('./assets/tiny-dash-light/css/dropzone.css');
@import url('./assets/tiny-dash-light/css/dropzone.min.css');
@import url('./assets/tiny-dash-light/css/jquery.steps.css');
@import url('./assets/tiny-dash-light/css/jquery.timepicker.css');
@import url('./assets/tiny-dash-light/css/perfect-scrollbar.css');
@import url('./assets/tiny-dash-light/css/quill.snow.css');
@import url('./assets/tiny-dash-light/css/select2-bootstrap4.css');
@import url('./assets/tiny-dash-light/css/select2.css');
@import url('./assets/tiny-dash-light/css/simplebar.css');
@import url('./assets/tiny-dash-light/css/uppy.min.css');

@font-face {
	font-family: 'bold';
	src: url('./assets/fonts/avenir-heavy.ttf');
}

@font-face {
	font-family: 'normal';
	src: url('./assets/fonts/avenir.ttf');
}

@font-face {
	font-family: 'sf';
	src: url('./assets/fonts/sf.ttf');
}

@font-face {
	font-family: 'feather';
	src: url('./assets/tiny-dash-light//fonts/feather.ttf');
}

@import url('./app/styles/root.scss');

html {
	--accent: #00b074;
}

html[theme='dark'] {
	--bg1: #171717;
	--bg2: #212121;
	--bg3: #171717;
	--loginNav: #ac8585;
	--loginNavColor: #00b074;
	--searchInput: #3a3b3c;
	--color1: white;
	--color2: #a6a6a6;
	--color3: gray;
	--border1: #282828;
	--border2: #282828;
	--inputBorder: #2c333a;
	--shadow1: #02110929;
	--shadow2: #06b98363;
	--sidebarActiveBG: #282828;
	--page: #1e1e1e;
	--toolbar: #242526;
	--toolbarShadow: 0px 0px 315px var(--accent);
	--pageContent: #171717;
	--table: transparent;
	--thColor: white;
	--trColor: #878787;
	--trBg2: #1e1e1ea2;
	--modalBackdrop: #021b14ad;
	--modalHeader: #1e1e1e;
	--modalFooter: #171717;
	--onlyLight: none;
	--onlyDark: block;
}

html[theme='light'] {
	--bg1: white;
	--bg2: #f4f6f8;
	--bg3: white;
	--loginNav: white;
	--loginNavColor: #00b074;
	--searchInput: #f4f6f8;
	--color1: #0a2440;
	--color2: #6f7d8f;
	--color3: gray;
	--border1: #e3ebf5b3;
	--border2: #f7f8fa;
	--inputBorder: #dee2e6;
	--shadow1: #00000029;
	--shadow2: #00000063;
	--sidebarActiveBG: #ebf9f4;
	--page: #f5f6fa;
	--toolbar: white;
	--toolbarShadow: none;
	--pageContent: white;
	--table: white;
	--thColor: #6f7d8f;
	--trColor: #0a2440;
	--trBg2: #f7f8fa;
	--modalBackdrop: #0a2440b2;
	--modalHeader: #f7f8fa;
	--modalFooter: white;
	--onlyLight: block;
	--onlyDark: none;
}
