// @import url('./app/styles/dark/dark.scss');

@import url('./assets/tiny-dash-light/css/apexcharts.css');
@import url('./assets/tiny-dash-light/css/app-light.css');
@import url('./assets/tiny-dash-light/css/app-rtl.css');
@import url('./assets/tiny-dash-light/css/bootstrap-datepicker.css');
@import url('./assets/tiny-dash-light/css/dataTables.bootstrap4.css');
@import url('./assets/tiny-dash-light/css/daterangepicker.css');
@import url('./assets/tiny-dash-light/css/dropzone.css');
@import url('./assets/tiny-dash-light/css/dropzone.min.css');
@import url('./assets/tiny-dash-light/css/jquery.steps.css');
@import url('./assets/tiny-dash-light/css/jquery.timepicker.css');
@import url('./assets/tiny-dash-light/css/perfect-scrollbar.css');
@import url('./assets/tiny-dash-light/css/quill.snow.css');
@import url('./assets/tiny-dash-light/css/select2-bootstrap4.css');
@import url('./assets/tiny-dash-light/css/select2.css');
@import url('./assets/tiny-dash-light/css/simplebar.css');
@import url('./assets/tiny-dash-light/css/uppy.min.css');

@font-face {
	font-family: 'bold';
	src: url('./assets/fonts/avenir-heavy.ttf');
}

@font-face {
	font-family: 'normal';
	src: url('./assets/fonts/avenir.ttf');
}

@font-face {
	font-family: 'sf';
	src: url('./assets/fonts/sf.ttf');
}

@font-face {
	font-family: 'feather';
	src: url('./assets/tiny-dash-light//fonts/feather.ttf');
}

@import url('./app/styles/root.scss');

html {
	--accent: #00b074;
}
