@import url('./assets/tiny-dash-light/css/apexcharts.css');
@import url('./assets/tiny-dash-light/css/app-light.css');
@import url('./assets/tiny-dash-light/css/app-rtl.css');
@import url('./assets/tiny-dash-light/css/bootstrap-datepicker.css');
@import url('./assets/tiny-dash-light/css/dataTables.bootstrap4.css');
@import url('./assets/tiny-dash-light/css/daterangepicker.css');
@import url('./assets/tiny-dash-light/css/dropzone.css');
@import url('./assets/tiny-dash-light/css/dropzone.min.css');
@import url('./assets/tiny-dash-light/css/jquery.steps.css');
@import url('./assets/tiny-dash-light/css/jquery.timepicker.css');
@import url('./assets/tiny-dash-light/css/perfect-scrollbar.css');
@import url('./assets/tiny-dash-light/css/quill.snow.css');
@import url('./assets/tiny-dash-light/css/select2-bootstrap4.css');
@import url('./assets/tiny-dash-light/css/select2.css');
@import url('./assets/tiny-dash-light/css/simplebar.css');
@import url('./assets/tiny-dash-light/css/uppy.min.css');

@font-face {
	font-family: 'bold';
	src: url('./assets/fonts/avenir-heavy.ttf');
}

@font-face {
	font-family: 'normal';
	src: url('./assets/fonts/avenir.ttf');
}

@font-face {
	font-family: 'sf';
	src: url('./assets/fonts/sf.ttf');
}

@font-face {
	font-family: 'feather';
	src: url('./assets/tiny-dash-light//fonts/feather.ttf');
}

* {
	font-family: 'normal';
}
html,
body {
	height: 100%;
	overflow-x: hidden;
}

.page {
	background: #f5f6fa;
	padding: 30px;
}

.page-content {
	background: #ffffff 0% 0% no-repeat padding-box;
	border-radius: 16px;
	padding: 20px 30px;
	min-height: 75vh;
	overflow-y: scroll;
}

::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px white;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: #bfc8d5;
	border-radius: 10px;
}

.aic {
	align-items: center;
}

.jcc {
	justify-content: center;
}

.bold {
	font-family: bold;
}

thead tr:first-child th {
	position: sticky;
	top: -20px;
	background: white;
	transition: 0.5s ease-in;
}
table thead th {
	border: none !important;
	border-bottom: 1px solid #f7f8fa !important;
	font-family: bold !important;
	font-size: 1rem !important;
	color: #6f7d8f !important;
}

tbody {
	color: #0a2440;
	font-size: 14px;
	tr:nth-child(2n) {
		background-color: #f7f8fa !important;
	}
}

.underlined {
	color: #0a2440;
	text-decoration: underline;
	cursor: pointer;
}
