<div class="row">
	<div class="col-md-4">
		<div class="upload-photo d-flex aic mr-5" style="flex-direction: column">
			<div
				role="button"
				class="mb-3 col-md-4 w-100 d-flex aic jcc"
				style="flex-direction: column"
			>
				<div
					(click)="trigger('logo')"
					class="clinic-logo-placeholder d-flex aic jcc"
				>
					<img
						role="button"
						*ngIf="avatarSrc"
						class="clinic-image"
						style="border-radius: 50%"
						[src]="avatarSrc"
						alt=""
						(click)="trigger('file')"
					/>
					<i-feather *ngIf="!avatar" class="image-icon" name="image"></i-feather>
				</div>
			</div>

			<span class="upload-photo-btn" role="button">Upload Photo</span>
			<input
				(change)="readFile($event)"
				type="file"
				accept="image/*"
				id="logo"
				style="display: none"
			/>
		</div>
	</div>
	<div class="col-md-4 mt-4">
		<div class="form-group">
			<label for="Name">Name</label>
			<input type="text" id="Name" class="form-control" />
		</div>
		<div class="form-group">
			<label for="Profession">Profession</label>
			<input type="text" id="Profession" class="form-control" />
		</div>
	</div>
	<div class="col-md-4 mt-4">
		<div class="form-group">
			<label for="Specialties">Specialties</label>
			<input type="text" id="Specialties" class="form-control" />
		</div>

		<div class="form-group">
			<label for="Years Of Experience">Years Of Experience</label>
			<input type="text" id="Years Of Experience" class="form-control" />
		</div>
	</div>

	<div class="col-md-12">
		<hr />
	</div>

	<div class="col-md-12">
		<label for="">About</label>
		<textarea placeholder="Aa" type="text" class="form-control"></textarea>
	</div>

	<div class="col-md-3">
		<label for="">Phone</label>
		<input type="text" class="form-control custom-form" />
	</div>

	<div class="col-md-3">
		<label for="">Email</label>
		<input type="text" class="form-control custom-form" />
	</div>

	<div class="col-md-12">
		<label for="">Working Schedule</label>
		<app-working-schedule></app-working-schedule>

		<div class="d-flex aic mt-4 mb-5">
			<span>
				<span class="circle active"></span>
				<span class="text-available mr-2">Available</span>
			</span>

			<span>
				<span class="circle"></span>
				<span class="text-available">Not Available</span>
			</span>
		</div>
	</div>
</div>

.
