<div class="col-md-12 row">
	<div class="col-md-12 mb-5">
		<h1 class="text-center">Features</h1>
	</div>
	<div class="col-md-4 item">
		<div class="d-flex item jcc aic card card-body p-5">
			<div class="circle"></div>
			<div class="title">Additional revenue stream</div>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
				diam nonummy nibh euismod tincidunt ut laoreet dolore magna
				aliquam erat volutpat. Ut wisi enim ad minim veniam,
			</p>
		</div>
	</div>
	<div class="col-md-4 item">
		<div class="d-flex item jcc aic card card-body p-5">
			<div class="circle"></div>
			<div class="title">New customers</div>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
				diam nonummy nibh euismod tincidunt ut laoreet dolore magna
				aliquam erat volutpat. Ut wisi enim ad minim veniam,
			</p>
		</div>
	</div>
	<div class="col-md-4 item">
		<div class="d-flex item jcc aic card card-body p-5">
			<div class="circle"></div>
			<div class="title">Easy Booking</div>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
				diam nonummy nibh euismod tincidunt ut laoreet dolore magna
				aliquam erat volutpat. Ut wisi enim ad minim veniam,
			</p>
		</div>
	</div>
</div>
