.input-container {
	margin-left: 68px;
	height: 40px;
	background: var(--searchInput) 0% 0% no-repeat padding-box;
	width: 100%;
	display: flex;
	margin-top: -10px;
	align-items: center;
	border-radius: 4px;
	border: 2px solid var(--border);
	input {
		border: none;
		outline: none;
		padding: 8px 16px;
		color: #6f7d8f;
		size: 16px;
		width: 100%;
		background: transparent;
	}
	.search {
		width: 18px;
		height: 18px;
		margin-right: 18px;
	}
}

.list-item {
	padding: 1rem 1rem;
	border-bottom: 1px solid var(--border1);
	border-left: 4px solid transparent;
	width: 100%;
	.icon-side {
		border-radius: 50%;
		width: 40px !important;
		height: 40px !important;
		background: var(--bg2);
		margin-right: 2rem;
	}
	.icon {
		width: 5rem;
	}
	&:hover {
		background: var(--page1);
		border-left: 4px solid var(--accent);
		.deptname {
			color: var(--accent);
			font-family: bold;
		}
		.icon-side {
			color: var(--accent);
			background: var(--bg1);
		}
	}
}
.rounded {
	background: var(--accent);
	color: white;
	border-radius: 50%;
	height: 2rem;
	width: 2rem;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-success {
	background: var(--accent);
	color: white;
	border-radius: 50%;
	height: 2rem;
	width: 2rem;
	padding: 0.2rem;
	transition: 0.2s linear;
	&:hover {
		transform: scale(1.1);
	}
}

.btn-danger1 {
	border-radius: 10px;
	border: 2px solid var(--accent);
	background-color: var(--bg1);
	color: var(--accent);
}

.btn-light1 {
	border-radius: 50%;
	height: 2rem;
	width: 2rem;
	.feather {
		transform: scale(2.7) !important;
	}
	display: flex;
	align-items: center;
	transition: 0.2s linear;
	border: 1px solid var(--border1);
	&:hover {
		transform: scale(1.1) !important;
		background-color: var(--bg1);
	}
}
