button {
	width: 90px;
	height: 40px;
	background: #00b074 0% 0% no-repeat padding-box;
	border: none;
	border-radius: 6px;
	letter-spacing: 0.03px;
	color: #ffffff;
}
tr:nth-child(even) {
	background-color: var(--trBg2) !important;
}
tr:nth-child(odd) {
	background-color: var(--table) !important;
}
