<ng-template #component>
	<toolbar-patients></toolbar-patients>
</ng-template>

<home-toolbar [component]="component"></home-toolbar>
<div class="page">
	<div class="page-content">
		<table class="table table-striped" *ngIf="patients">
			<thead>
				<tr>
					<th>Type</th>
					<th class="text-center">
						<i-feather name="user" class="feather"></i-feather>
					</th>
					<th>Name</th>
					<th class="text-center">Age</th>
					<th class="text-center">Sex</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Address</th>
					<th>Profile</th>
				</tr>
			</thead>
			<tbody [@listAnimation]="patients.length">
				<tr *ngFor="let patient of patients; let i = index">
					<td>{{ patient.type }}</td>
					<td class="text-center">
						<div class="avatar">
							<img [src]="patient.avatars[0].url" alt="" />
						</div>
					</td>
					<td>{{ resolveName(patient) }}</td>
					<td class="text-center">
						{{ resolveAge(patient) }} yr{{ resolveAge(patient) === 1 ? '' : 's' }}
					</td>
					<td class="text-center">{{ patient.sex }}</td>
					<td>{{ patient.emails[0].email }}</td>
					<td>{{ patient.phones[0].phone || 'N/A' }}</td>
					<td>{{ resolveAddress(patient) }}</td>
					<td>
						<button [routerLink]="'/home/patients/information/' + patient.id">
							View
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
