<div class="d-flex" style="width: calc(100vw - 60%)">
	<div class="input-container ml-auto">
		<input type="search" placeholder="Search" />
		<img
			class="search ml-auto"
			src="../../../assets/app/toolbars/dashboard/search.png"
			alt=""
		/>
	</div>

	<div role="button" class="filter-container">
		<span>Filter</span>
		<img
			class="filter-icon"
			src="../../../assets/app/toolbars/dashboard/filter.png"
			alt=""
		/>
	</div>

	<button class="add-doctor d-flex aic jcc btn">
		<img src="../../../assets/app/toolbars/patients/plus.png" alt="" />
		<span>Add Patient</span>
	</button>

	<button class="export d-flex aic jcc btn"><span>Export List</span></button>
</div>
