<div class="back-drop">
	<right-large-modal
		*ngIf="type === 'Right' || type === 'Confirm' || type === 'Right Blur'"
		[header]="header"
		[body]="body"
		[footer]="footer"
		[animationState]="animationState"
	></right-large-modal>

	<right-blur-background-modal
		*ngIf="type === 'Right Blur'"
		[body]="body"
		[animationState]="animationState"
	></right-blur-background-modal>

	<center-large-modal
		*ngIf="type === 'Center Large'"
		[header]="header"
		[body]="body"
		[footer]="footer"
		[animationState]="animationState"
	></center-large-modal>

	<center-medium-modal
		*ngIf="type === 'Center Medium'"
		[header]="header"
		[body]="body"
		[footer]="footer"
		[animationState]="animationState"
	></center-medium-modal>

	<center-small-modal
		*ngIf="type === 'Center Small'"
		[header]="header"
		[body]="body"
		[animationState]="animationState"
	>
	</center-small-modal>

	<!-- Confirm Modal  -->

	<confirm-modal
		*ngIf="type === 'Confirm'"
		[firstLine]="firstLine"
		[secondLine]="secondLine"
		[onCLose]="onCLose"
		[onSubmit]="onSubmit"
		[animationState]="animationState"
	></confirm-modal>
</div>
